<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<script id="sap-ui-bootstrap" type="text/javascript" 
      /*src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"*/
      src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>

<script type="text/javascript" src="../js/ComponentMain.js"></script>
<script type="text/javascript" src="../js/PostResponseParser/PostResponseParser.js"></script>
<script type="text/javascript" src="../js/TimeLine.js"></script>
<script type="text/javascript" src="../js/ga.js"></script>

<script> 
	requestChangeLog("../../../../sdkhelp/web/components/databound/advanceddatatable/changes/changelog.json");
	requestContent("Blog", "../../../../sdkhelp/web/components/databound/advanceddatatable/blogs.json");
	requestContent("Example", "../../../../sdkhelp/web/components/databound/advanceddatatable/examples.json");
</script>

<title>Advanced Data Table 2.0 - SCN Design Studio Community</title>
</head>
<body class="comp-body" style="height:100%">
<div class="comp-main" style="height:100%">

 	<div class="component-name">
	AdvancedDataTable [ScnCommunityVisualizations]
	</div>
	<div class="component-title">
	Advanced Data Table 2.0
	</div>

<div id="componentnav"></div>
	<div id="intro">This page is giving short introduction to the component with summary of the change status (green/yellow/red)<div id="introStatus" height="120px"></div><br></div>
	<div id="blogs" hidden="true" height="100%">This page is listing community blogs on this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="BlogsList" height="100%"></div></div>
	<div id="changelog" hidden="true" height="100%">This page is listing all changes which have been done on this component with corresponding test status (green: ok, red: not ok, yellow: untested), follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/07/introducing-change-log-for-community-components" target="_blank">this link</a> to learn more.<div id="changelogList" height="100%"></div></div>
	<div id="examples" hidden="true" height="100%">This page is listing all example applications with this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="ExamplesList" height="100%"></div></div>
	<div id="about" hidden="true">This page will bring more "about" details (generated)</div>
	<div id="technical" hidden="true">
	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>data<br/>[ResultSet]</B></td>
<td width="*" class="property-title-tooltip"><B>Data Selection</B><br/>Data Selection

</td>
<td width="60px" class="property-group">DataBinding</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>onSelect<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>On Select</B><br/>On Select

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getStringData [<a href="#FUNCTION_getStringData">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>colVis<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Allow Column Vis Toggle</B><br/>Allow Column Vis Toggle

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">false</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>colVisRestore<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Enable ColVis Restore</B><br/>Enable ColVis Restore

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">false</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>colVisShowAll<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Enable ColVis ShowAll</B><br/>Enable ColVis ShowAll

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>colVisShowNone<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Enable ColVis ShowNone</B><br/>Enable ColVis ShowNone

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>columns<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Column Configuration</B><br/>Column Configuration

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">[]</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>displayLength<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Display Length</B><br/>Display Length

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">10</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>displayStart<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Display Start</B><br/>Display Start

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">0</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>formatting<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Formatting Rules</B><br/>Formatting Rules

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">[{}]</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>ignoreExpandedNodes<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Ignore Expanded Nodes</B><br/>Ignore Expanded Nodes

</td>
<td width="60px" class="property-group">DataBinding</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>ignoreTotals<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Ignore Totals</B><br/>Ignore Totals

</td>
<td width="60px" class="property-group">DataBinding</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>info<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Info</B><br/>Info

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>ordering<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Ordering</B><br/>Ordering

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>pageResize<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Paging Resize</B><br/>Paging Resize

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>paging<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Paging</B><br/>Paging

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>pagingType<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Paging Type</B><br/>Paging Type

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">simple_numbers</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>responsive<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Responsive</B><br/>Responsive

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>scrollCollapse<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Vertical Scroll Collapse</B><br/>Vertical Scroll Collapse

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>scrollX<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Horizontal Scrolling</B><br/>Horizontal Scrolling

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>scrollY<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Vertical Scrolling Height</B><br/>Vertical Scrolling Height

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>searchCaseInsensitive<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Search - Case-Insensitive</B><br/>Search - Case-Insensitive

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>searchRegex<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Search - Regular Expressions</B><br/>Search - Regular Expressions

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>searchSmart<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Search - Smart Search</B><br/>Search - Smart Search

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>searchTerm<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Search - Initial Search Term</B><br/>Search - Initial Search Term

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>searching<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Searching</B><br/>Searching

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>swapAxes<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Swap Axes</B><br/>Swap Axes

</td>
<td width="60px" class="property-group">DataBinding</td>
<td width="100px" class="property-default">false</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>useMockData<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Use Mock Data</B><br/>Use Mock Data

</td>
<td width="60px" class="property-group">DataBinding</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">false</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getStringData">String<br/>getStringData</td>
<td valign="top" width="*" class="function-help">returns&nbsp;the&nbsp;data<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.stringData;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>
	<div style="height:20px!important"> THE END </div>
	</div>
	
	<div style="height:60px!important"></div>
	
</div>
</body>
</html>