<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<script id="sap-ui-bootstrap" type="text/javascript" 
      /*src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"*/
      src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>

<script type="text/javascript" src="../js/ComponentMain.js"></script>
<script type="text/javascript" src="../js/PostResponseParser/PostResponseParser.js"></script>
<script type="text/javascript" src="../js/TimeLine.js"></script>
<script type="text/javascript" src="../js/ga.js"></script>

<script> 
	requestChangeLog("../../../../sdkhelp/web/components/databound/bulletchart/changes/changelog.json");
	requestContent("Blog", "../../../../sdkhelp/web/components/databound/bulletchart/blogs.json");
	requestContent("Example", "../../../../sdkhelp/web/components/databound/bulletchart/examples.json");
</script>

<title>Bullet Chart 2.0 - SCN Design Studio Community</title>
</head>
<body class="comp-body" style="height:100%">
<div class="comp-main" style="height:100%">

 	<div class="component-name">
	BulletChart [ScnCommunityVisualizations]
	</div>
	<div class="component-title">
	Bullet Chart 2.0
	</div>

<div id="componentnav"></div>
	<div id="intro">This page is giving short introduction to the component with summary of the change status (green/yellow/red)<div id="introStatus" height="120px"></div><br><p>
This component visualize content as accordion control (SAP UI5).
</p>
<p>
Link to blog: <a target="_blank" href="http://scn.sap.com/docs/DOC-58702">Design Studio SDK: (dynamic) Accordion Component</a><br/>
Link to blog: <a target="_blank" href="http://scn.sap.com/community/businessobjects-design-studio/blog/2014/05/29/design-studio-1213-sdk--design-studio-utility-pack">Design Studio SDK - SAPUI5 Accordion Menu</a><br/>
</p></div>
	<div id="blogs" hidden="true" height="100%">This page is listing community blogs on this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="BlogsList" height="100%"></div></div>
	<div id="changelog" hidden="true" height="100%">This page is listing all changes which have been done on this component with corresponding test status (green: ok, red: not ok, yellow: untested), follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/07/introducing-change-log-for-community-components" target="_blank">this link</a> to learn more.<div id="changelogList" height="100%"></div></div>
	<div id="examples" hidden="true" height="100%">This page is listing all example applications with this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="ExamplesList" height="100%"></div></div>
	<div id="about" hidden="true">This page will bring more "about" details (generated)</div>
	<div id="technical" hidden="true">
	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>chartbottommargin<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Bullet Bottom Margin</B><br/>Bullet Bottom Margin

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>chartleftmargin<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Bullet Left Margin</B><br/>Bullet Left Margin

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>chartrightmargin<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Bullet Right Margin</B><br/>Bullet Right Margin

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>charttopmargin<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Bullet Top Margin</B><br/>Bullet Top Margin

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>columnmargin<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>horizontal margin between graphs</B><br/>horizontal margin between graphs

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">30</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>comparison<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>comparison column</B><br/>comparison column

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>extrapolation<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>expected realization outcome end of period column</B><br/>expected realization outcome end of period column

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>higherisbetter<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>realization higher than target is better</B><br/>realization higher than target is better

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>keydimension<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Row Dimension holding unique key for clicking through</B><br/>Row Dimension holding unique key for clicking through

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>labeldimension<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Row Dimension holding main label</B><br/>Row Dimension holding main label

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>maxgraphheight<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>maximum height of single graph</B><br/>maximum height of single graph

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">70</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>mingraphheight<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>minimum height of single graph</B><br/>minimum height of single graph

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">50</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>numberofcolumns<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>number of columns</B><br/>number of columns

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">1</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>numberofticks<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>number of ticks in the graph</B><br/>number of ticks in the graph

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">4</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>realization<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>realization column</B><br/>realization column

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>rowmargin<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>vertical margin between graphs</B><br/>vertical margin between graphs

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">20</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>showalert<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>show alert</B><br/>show alert
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">never</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">worse than comparison</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">worse than threshold 5</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">worse than threshold 4</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">worse than threshold 3</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">worse than threshold 2</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">worse than threshold 1</td>
<td class="value-td">&nbsp;</td>
</tr>

</table>
</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">worse than comparison</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>showaxis<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Show X axis numbers</B><br/>Show X axis numbers

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>showrealization<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>show realization value</B><br/>show realization value

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>sublabeldimension<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Row Dimension holding sub label</B><br/>Row Dimension holding sub label

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>threshold1<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>first threshold column</B><br/>first threshold column

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>threshold2<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>second threshold column</B><br/>second threshold column

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>threshold3<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>third threshold column</B><br/>third threshold column

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>threshold4<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>second threshold column</B><br/>second threshold column

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>threshold5<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>third threshold column</B><br/>third threshold column

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>tooltip<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Show tooltip</B><br/>Show tooltip

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">false</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>onclick<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>On Click</B><br/>On Click

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getClickedGraphKey [<a href="#FUNCTION_getClickedGraphKey">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>clickedgraphkey<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>clickedgraphkey</B><br/>clickedgraphkey

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>data<br/>[ResultSet]</B></td>
<td width="*" class="property-title-tooltip"><B>Dataset</B><br/>Dataset

</td>
<td width="60px" class="property-group">DataBinding</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getClickedGraphKey">String<br/>getClickedGraphKey</td>
<td valign="top" width="*" class="function-help">/get&nbsp;the&nbsp;unique&nbsp;key&nbsp;for&nbsp;the&nbsp;clicked&nbsp;bullet&nbsp;chart<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.clickedgraphkey;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>
	<div style="height:20px!important"> THE END </div>
	</div>
	
	<div style="height:60px!important"></div>
	
</div>
</body>
</html>