<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<script id="sap-ui-bootstrap" type="text/javascript" 
      /*src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"*/
      src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>

<script type="text/javascript" src="../js/ComponentMain.js"></script>
<script type="text/javascript" src="../js/PostResponseParser/PostResponseParser.js"></script>
<script type="text/javascript" src="../js/TimeLine.js"></script>
<script type="text/javascript" src="../js/ga.js"></script>

<script> 
	requestChangeLog("../../../../sdkhelp/web/components/databound/nicechart/changes/changelog.json");
	requestContent("Blog", "../../../../sdkhelp/web/components/databound/nicechart/blogs.json");
	requestContent("Example", "../../../../sdkhelp/web/components/databound/nicechart/examples.json");
</script>

<title>Nice Chart 2.0 - SCN Design Studio Community</title>
</head>
<body class="comp-body" style="height:100%">
<div class="comp-main" style="height:100%">

 	<div class="component-name">
	NiceChart [ScnCommunityVisualizations]
	</div>
	<div class="component-title">
	Nice Chart 2.0
	</div>

<div id="componentnav"></div>
	<div id="intro">This page is giving short introduction to the component with summary of the change status (green/yellow/red)<div id="introStatus" height="120px"></div><br><p>
Nice Chart Implementation based on ChartJS
</p>
<p>
Link to blog: <a target="_blank" href="http://scn.sap.com/docs/DOC-62604">Design Studio SDK: Nice Chart Component</a>
</p>
</div>
	<div id="blogs" hidden="true" height="100%">This page is listing community blogs on this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="BlogsList" height="100%"></div></div>
	<div id="changelog" hidden="true" height="100%">This page is listing all changes which have been done on this component with corresponding test status (green: ok, red: not ok, yellow: untested), follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/07/introducing-change-log-for-community-components" target="_blank">this link</a> to learn more.<div id="changelogList" height="100%"></div></div>
	<div id="examples" hidden="true" height="100%">This page is listing all example applications with this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="ExamplesList" height="100%"></div></div>
	<div id="about" hidden="true">This page will bring more "about" details (generated)</div>
	<div id="technical" hidden="true">
	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>DChartType<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Chart Type</B><br/>Chart Type

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">Line</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DColorDistance<br/>[float]</B></td>
<td width="*" class="property-title-tooltip"><B>Starting Colour Distance</B><br/>Starting Colour Distance

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">0.2</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DColorHue<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Starting Colour Hue</B><br/>Starting Colour Hue

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">120</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DColorPalette<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Starting Colour Palette</B><br/>Starting Colour Palette

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">Triade</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DLegendPosition<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Legend Position</B><br/>Legend Position

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">Right</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DLegendWidth<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Width Of Legend In Px</B><br/>Width Of Legend In Px

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">200</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DMaxDataPoints<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Maximum Number Of Data Points</B><br/>Maximum Number Of Data Points

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">100</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DShowLegend<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Show Legend</B><br/>Show Legend

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DSwapAxes<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Swap Axes</B><br/>Swap Axes

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">false</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getChartType [<a href="#FUNCTION_getChartType">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">org_scn_community_shared_ChartSimpleTypeEnumfield</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getChartTypeAsString [<a href="#FUNCTION_getChartTypeAsString">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getColorDistance [<a href="#FUNCTION_getColorDistance">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">float</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getColorHue [<a href="#FUNCTION_getColorHue">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getColorPalette [<a href="#FUNCTION_getColorPalette">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">org_scn_community_shared_ChartColorPaleteEnumfield</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getColorPaletteAsString [<a href="#FUNCTION_getColorPaletteAsString">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getData [<a href="#FUNCTION_getData">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">ResultSet</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getLegendPosition [<a href="#FUNCTION_getLegendPosition">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">org_scn_community_shared_HorizontalAlignEnumfield</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getLegendPositionAsString [<a href="#FUNCTION_getLegendPositionAsString">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getLegendWidth [<a href="#FUNCTION_getLegendWidth">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getMaxDataPoints [<a href="#FUNCTION_getMaxDataPoints">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">isShowLegend [<a href="#FUNCTION_isShowLegend">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">boolean</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">isSwapAxes [<a href="#FUNCTION_isSwapAxes">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">boolean</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setChartType [<a href="#FUNCTION_setChartType">details</a>]</td>
<td valign="top" width="*" class="function-short-name">chartType</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setChartTypeByString [<a href="#FUNCTION_setChartTypeByString">details</a>]</td>
<td valign="top" width="*" class="function-short-name">chartType</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setColorDistance [<a href="#FUNCTION_setColorDistance">details</a>]</td>
<td valign="top" width="*" class="function-short-name">colorDistance</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setColorHue [<a href="#FUNCTION_setColorHue">details</a>]</td>
<td valign="top" width="*" class="function-short-name">colorHue</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setColorPalette [<a href="#FUNCTION_setColorPalette">details</a>]</td>
<td valign="top" width="*" class="function-short-name">colorPalette</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setColorPaletteByString [<a href="#FUNCTION_setColorPaletteByString">details</a>]</td>
<td valign="top" width="*" class="function-short-name">colorPalette</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setData [<a href="#FUNCTION_setData">details</a>]</td>
<td valign="top" width="*" class="function-short-name">data</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setLegendPosition [<a href="#FUNCTION_setLegendPosition">details</a>]</td>
<td valign="top" width="*" class="function-short-name">legendPosition</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setLegendPositionByString [<a href="#FUNCTION_setLegendPositionByString">details</a>]</td>
<td valign="top" width="*" class="function-short-name">legendPosition</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setLegendWidth [<a href="#FUNCTION_setLegendWidth">details</a>]</td>
<td valign="top" width="*" class="function-short-name">legendWidth</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setMaxDataPoints [<a href="#FUNCTION_setMaxDataPoints">details</a>]</td>
<td valign="top" width="*" class="function-short-name">maxDataPoints</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setShowLegend [<a href="#FUNCTION_setShowLegend">details</a>]</td>
<td valign="top" width="*" class="function-short-name">showLegend</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setSwapAxes [<a href="#FUNCTION_setSwapAxes">details</a>]</td>
<td valign="top" width="*" class="function-short-name">swapAxes</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>data<br/>[ResultSet]</B></td>
<td width="*" class="property-title-tooltip"><B>Result Set</B><br/>Result Set

</td>
<td width="60px" class="property-group">DataBinding</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">false</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getChartType">org_scn_community_shared_ChartSimpleTypeEnumfield<br/>getChartType</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Chart&nbsp;Type&nbsp;Property&nbsp;as&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DChartType;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getChartTypeAsString">String<br/>getChartTypeAsString</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Chart&nbsp;Type&nbsp;Property&nbsp;as&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DChartType;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getColorDistance">float<br/>getColorDistance</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Starting&nbsp;Colour&nbsp;Distance&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DColorDistance;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getColorHue">int<br/>getColorHue</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Starting&nbsp;Colour&nbsp;Hue&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DColorHue;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getColorPalette">org_scn_community_shared_ChartColorPaleteEnumfield<br/>getColorPalette</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Starting&nbsp;Colour&nbsp;Palette&nbsp;Property&nbsp;as&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DColorPalette;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getColorPaletteAsString">String<br/>getColorPaletteAsString</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Starting&nbsp;Colour&nbsp;Palette&nbsp;Property&nbsp;as&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DColorPalette;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getData">ResultSet<br/>getData</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Result&nbsp;Set&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.data;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getLegendPosition">org_scn_community_shared_HorizontalAlignEnumfield<br/>getLegendPosition</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Legend&nbsp;Position&nbsp;Property&nbsp;as&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DLegendPosition;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getLegendPositionAsString">String<br/>getLegendPositionAsString</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Legend&nbsp;Position&nbsp;Property&nbsp;as&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DLegendPosition;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getLegendWidth">int<br/>getLegendWidth</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Width&nbsp;Of&nbsp;Legend&nbsp;In&nbsp;Px&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DLegendWidth;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getMaxDataPoints">int<br/>getMaxDataPoints</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Maximum&nbsp;Number&nbsp;Of&nbsp;Data&nbsp;Points&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DMaxDataPoints;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_isShowLegend">boolean<br/>isShowLegend</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Show&nbsp;Legend&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DShowLegend;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_isSwapAxes">boolean<br/>isSwapAxes</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Swap&nbsp;Axes&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DSwapAxes;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setChartType">void<br/>setChartType</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Chart&nbsp;Type&nbsp;Property&nbsp;by&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>chartType</B></td>
<td width="120px" class="parameter-type"><B>org_scn_community_shared_ChartSimpleTypeEnumfield</B></td>
<td width="*" class="parameter-help">Chart Type</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DChartType&nbsp;=&nbsp;chartType;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setChartTypeByString">void<br/>setChartTypeByString</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Chart&nbsp;Type&nbsp;Property&nbsp;by&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>chartType</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Chart Type</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DChartType&nbsp;=&nbsp;chartType;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setColorDistance">void<br/>setColorDistance</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Starting&nbsp;Colour&nbsp;Distance&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>colorDistance</B></td>
<td width="120px" class="parameter-type"><B>float</B></td>
<td width="*" class="parameter-help">Starting Colour Distance</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DColorDistance&nbsp;=&nbsp;colorDistance;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setColorHue">void<br/>setColorHue</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Starting&nbsp;Colour&nbsp;Hue&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>colorHue</B></td>
<td width="120px" class="parameter-type"><B>int</B></td>
<td width="*" class="parameter-help">Starting Colour Hue</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DColorHue&nbsp;=&nbsp;colorHue;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setColorPalette">void<br/>setColorPalette</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Starting&nbsp;Colour&nbsp;Palette&nbsp;Property&nbsp;by&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>colorPalette</B></td>
<td width="120px" class="parameter-type"><B>org_scn_community_shared_ChartColorPaleteEnumfield</B></td>
<td width="*" class="parameter-help">Starting Colour Palette</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DColorPalette&nbsp;=&nbsp;colorPalette;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setColorPaletteByString">void<br/>setColorPaletteByString</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Starting&nbsp;Colour&nbsp;Palette&nbsp;Property&nbsp;by&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>colorPalette</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Starting Colour Palette</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DColorPalette&nbsp;=&nbsp;colorPalette;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setData">void<br/>setData</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Result&nbsp;Set&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>data</B></td>
<td width="120px" class="parameter-type"><B>ResultSet</B></td>
<td width="*" class="parameter-help">Result Set</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.data&nbsp;=&nbsp;data;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setLegendPosition">void<br/>setLegendPosition</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Legend&nbsp;Position&nbsp;Property&nbsp;by&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>legendPosition</B></td>
<td width="120px" class="parameter-type"><B>org_scn_community_shared_HorizontalAlignEnumfield</B></td>
<td width="*" class="parameter-help">Legend Position</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DLegendPosition&nbsp;=&nbsp;legendPosition;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setLegendPositionByString">void<br/>setLegendPositionByString</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Legend&nbsp;Position&nbsp;Property&nbsp;by&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>legendPosition</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Legend Position</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DLegendPosition&nbsp;=&nbsp;legendPosition;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setLegendWidth">void<br/>setLegendWidth</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Width&nbsp;Of&nbsp;Legend&nbsp;In&nbsp;Px&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>legendWidth</B></td>
<td width="120px" class="parameter-type"><B>int</B></td>
<td width="*" class="parameter-help">Width Of Legend In Px</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DLegendWidth&nbsp;=&nbsp;legendWidth;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setMaxDataPoints">void<br/>setMaxDataPoints</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Maximum&nbsp;Number&nbsp;Of&nbsp;Data&nbsp;Points&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>maxDataPoints</B></td>
<td width="120px" class="parameter-type"><B>int</B></td>
<td width="*" class="parameter-help">Maximum Number Of Data Points</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DMaxDataPoints&nbsp;=&nbsp;maxDataPoints;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setShowLegend">void<br/>setShowLegend</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Show&nbsp;Legend&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>showLegend</B></td>
<td width="120px" class="parameter-type"><B>boolean</B></td>
<td width="*" class="parameter-help">Show Legend</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DShowLegend&nbsp;=&nbsp;showLegend;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setSwapAxes">void<br/>setSwapAxes</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Swap&nbsp;Axes&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>swapAxes</B></td>
<td width="120px" class="parameter-type"><B>boolean</B></td>
<td width="*" class="parameter-help">Swap Axes</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DSwapAxes&nbsp;=&nbsp;swapAxes;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>
	<div style="height:20px!important"> THE END </div>
	</div>
	
	<div style="height:60px!important"></div>
	
</div>
</body>
</html>