<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<script id="sap-ui-bootstrap" type="text/javascript" 
      /*src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"*/
      src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>

<script type="text/javascript" src="../js/ComponentMain.js"></script>
<script type="text/javascript" src="../js/PostResponseParser/PostResponseParser.js"></script>
<script type="text/javascript" src="../js/TimeLine.js"></script>
<script type="text/javascript" src="../js/ga.js"></script>

<script> 
	requestChangeLog("../../../../sdkhelp/web/components/databound/resultsetmixer/changes/changelog.json");
	requestContent("Blog", "../../../../sdkhelp/web/components/databound/resultsetmixer/blogs.json");
	requestContent("Example", "../../../../sdkhelp/web/components/databound/resultsetmixer/examples.json");
</script>

<title>Result Set Mixer 2.0 - SCN Design Studio Community</title>
</head>
<body class="comp-body" style="height:100%">
<div class="comp-main" style="height:100%">

 	<div class="component-name">
	ResultSetMixer [ScnCommunityBasics]
	</div>
	<div class="component-title">
	Result Set Mixer 2.0
	</div>

<div id="componentnav"></div>
	<div id="intro">This page is giving short introduction to the component with summary of the change status (green/yellow/red)<div id="introStatus" height="120px"></div><br><p>
ResultSet Provider - preudo component to push the current resultset into Java Sctipt and register on central plase (baseline for multip data source components)
</p>
<p>
Link to blog: <a target="_blank" href="http://scn.sap.com/docs/DOC-62579">Design Studio SDK: ResultSet Provider Component</a>
</p>
</div>
	<div id="blogs" hidden="true" height="100%">This page is listing community blogs on this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="BlogsList" height="100%"></div></div>
	<div id="changelog" hidden="true" height="100%">This page is listing all changes which have been done on this component with corresponding test status (green: ok, red: not ok, yellow: untested), follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/07/introducing-change-log-for-community-components" target="_blank">this link</a> to learn more.<div id="changelogList" height="100%"></div></div>
	<div id="examples" hidden="true" height="100%">This page is listing all example applications with this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="ExamplesList" height="100%"></div></div>
	<div id="about" hidden="true">This page will bring more "about" details (generated)</div>
	<div id="technical" hidden="true">
	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>DCollectMultipleMatches<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Collect Multiple Matches</B><br/>Collect Multiple Matches

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">Collect</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DMasterGeometry<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Geometry Of The Master Result Set</B><br/>Geometry Of The Master Result Set

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">Rows</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DMasterProvisioner<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Master Central Data Provisioner</B><br/>Master Central Data Provisioner

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DSlaveColumnCondition<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Column Condition To Read Slave Result Set</B><br/>Column Condition To Read Slave Result Set

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DSlaveColumnIndex<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Column Index For The Selection From Slave Result Set</B><br/>Column Index For The Selection From Slave Result Set

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">1</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DSlaveContentCondition<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Content Condition To Read Slave Result Set</B><br/>Content Condition To Read Slave Result Set

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DSlaveProvisioner<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Slave Central Data Provisioner</B><br/>Slave Central Data Provisioner

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DSlaveRowCondition<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Row Condition To Read Slave Result Set</B><br/>Row Condition To Read Slave Result Set

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getCollectMultipleMatches [<a href="#FUNCTION_getCollectMultipleMatches">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">org_scn_community_shared_Enumfield</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getCollectMultipleMatchesAsString [<a href="#FUNCTION_getCollectMultipleMatchesAsString">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getMasterGeometry [<a href="#FUNCTION_getMasterGeometry">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">org_scn_community_shared_Enumfield</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getMasterGeometryAsString [<a href="#FUNCTION_getMasterGeometryAsString">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getMasterProvisioner [<a href="#FUNCTION_getMasterProvisioner">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getReloadTrigger [<a href="#FUNCTION_getReloadTrigger">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">float</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getSlaveColumnCondition [<a href="#FUNCTION_getSlaveColumnCondition">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getSlaveColumnIndex [<a href="#FUNCTION_getSlaveColumnIndex">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getSlaveContentCondition [<a href="#FUNCTION_getSlaveContentCondition">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getSlaveProvisioner [<a href="#FUNCTION_getSlaveProvisioner">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getSlaveRowCondition [<a href="#FUNCTION_getSlaveRowCondition">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setCollectMultipleMatches [<a href="#FUNCTION_setCollectMultipleMatches">details</a>]</td>
<td valign="top" width="*" class="function-short-name">collectMultipleMatches</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setCollectMultipleMatchesByString [<a href="#FUNCTION_setCollectMultipleMatchesByString">details</a>]</td>
<td valign="top" width="*" class="function-short-name">collectMultipleMatches</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setMasterGeometry [<a href="#FUNCTION_setMasterGeometry">details</a>]</td>
<td valign="top" width="*" class="function-short-name">masterGeometry</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setMasterGeometryByString [<a href="#FUNCTION_setMasterGeometryByString">details</a>]</td>
<td valign="top" width="*" class="function-short-name">masterGeometry</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setMasterProvisioner [<a href="#FUNCTION_setMasterProvisioner">details</a>]</td>
<td valign="top" width="*" class="function-short-name">masterProvisioner</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setReloadTrigger [<a href="#FUNCTION_setReloadTrigger">details</a>]</td>
<td valign="top" width="*" class="function-short-name">reloadTrigger</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setSlaveColumnCondition [<a href="#FUNCTION_setSlaveColumnCondition">details</a>]</td>
<td valign="top" width="*" class="function-short-name">slaveColumnCondition</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setSlaveColumnIndex [<a href="#FUNCTION_setSlaveColumnIndex">details</a>]</td>
<td valign="top" width="*" class="function-short-name">slaveColumnIndex</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setSlaveContentCondition [<a href="#FUNCTION_setSlaveContentCondition">details</a>]</td>
<td valign="top" width="*" class="function-short-name">slaveContentCondition</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setSlaveProvisioner [<a href="#FUNCTION_setSlaveProvisioner">details</a>]</td>
<td valign="top" width="*" class="function-short-name">slaveProvisioner</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setSlaveRowCondition [<a href="#FUNCTION_setSlaveRowCondition">details</a>]</td>
<td valign="top" width="*" class="function-short-name">slaveRowCondition</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>DReloadTrigger<br/>[float]</B></td>
<td width="*" class="property-title-tooltip"><B>Internal Property To Trigger The Reload</B><br/>Internal Property To Trigger The Reload

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">0.0</td>
<td width="60px" class="property-visible">false</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getCollectMultipleMatches">org_scn_community_shared_Enumfield<br/>getCollectMultipleMatches</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Collect&nbsp;Multiple&nbsp;Matches&nbsp;Property&nbsp;as&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DCollectMultipleMatches;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getCollectMultipleMatchesAsString">String<br/>getCollectMultipleMatchesAsString</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Collect&nbsp;Multiple&nbsp;Matches&nbsp;Property&nbsp;as&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DCollectMultipleMatches;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getMasterGeometry">org_scn_community_shared_Enumfield<br/>getMasterGeometry</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Geometry&nbsp;Of&nbsp;The&nbsp;Master&nbsp;Result&nbsp;Set&nbsp;Property&nbsp;as&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DMasterGeometry;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getMasterGeometryAsString">String<br/>getMasterGeometryAsString</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Geometry&nbsp;Of&nbsp;The&nbsp;Master&nbsp;Result&nbsp;Set&nbsp;Property&nbsp;as&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DMasterGeometry;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getMasterProvisioner">String<br/>getMasterProvisioner</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Master&nbsp;Central&nbsp;Data&nbsp;Provisioner&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DMasterProvisioner;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getReloadTrigger">float<br/>getReloadTrigger</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Internal&nbsp;Property&nbsp;To&nbsp;Trigger&nbsp;The&nbsp;Reload&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DReloadTrigger;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getSlaveColumnCondition">String<br/>getSlaveColumnCondition</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Column&nbsp;Condition&nbsp;To&nbsp;Read&nbsp;Slave&nbsp;Result&nbsp;Set&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DSlaveColumnCondition;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getSlaveColumnIndex">int<br/>getSlaveColumnIndex</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Column&nbsp;Index&nbsp;For&nbsp;The&nbsp;Selection&nbsp;From&nbsp;Slave&nbsp;Result&nbsp;Set&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DSlaveColumnIndex;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getSlaveContentCondition">String<br/>getSlaveContentCondition</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Content&nbsp;Condition&nbsp;To&nbsp;Read&nbsp;Slave&nbsp;Result&nbsp;Set&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DSlaveContentCondition;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getSlaveProvisioner">String<br/>getSlaveProvisioner</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Slave&nbsp;Central&nbsp;Data&nbsp;Provisioner&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DSlaveProvisioner;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getSlaveRowCondition">String<br/>getSlaveRowCondition</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Row&nbsp;Condition&nbsp;To&nbsp;Read&nbsp;Slave&nbsp;Result&nbsp;Set&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DSlaveRowCondition;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setCollectMultipleMatches">void<br/>setCollectMultipleMatches</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Collect&nbsp;Multiple&nbsp;Matches&nbsp;Property&nbsp;by&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>collectMultipleMatches</B></td>
<td width="120px" class="parameter-type"><B>org_scn_community_shared_Enumfield</B></td>
<td width="*" class="parameter-help">Collect Multiple Matches</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DCollectMultipleMatches&nbsp;=&nbsp;collectMultipleMatches;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setCollectMultipleMatchesByString">void<br/>setCollectMultipleMatchesByString</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Collect&nbsp;Multiple&nbsp;Matches&nbsp;Property&nbsp;by&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>collectMultipleMatches</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Collect Multiple Matches</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DCollectMultipleMatches&nbsp;=&nbsp;collectMultipleMatches;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setMasterGeometry">void<br/>setMasterGeometry</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Geometry&nbsp;Of&nbsp;The&nbsp;Master&nbsp;Result&nbsp;Set&nbsp;Property&nbsp;by&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>masterGeometry</B></td>
<td width="120px" class="parameter-type"><B>org_scn_community_shared_Enumfield</B></td>
<td width="*" class="parameter-help">Geometry Of The Master Result Set</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DMasterGeometry&nbsp;=&nbsp;masterGeometry;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setMasterGeometryByString">void<br/>setMasterGeometryByString</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Geometry&nbsp;Of&nbsp;The&nbsp;Master&nbsp;Result&nbsp;Set&nbsp;Property&nbsp;by&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>masterGeometry</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Geometry Of The Master Result Set</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DMasterGeometry&nbsp;=&nbsp;masterGeometry;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setMasterProvisioner">void<br/>setMasterProvisioner</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Master&nbsp;Central&nbsp;Data&nbsp;Provisioner&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>masterProvisioner</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Master Central Data Provisioner</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DMasterProvisioner&nbsp;=&nbsp;masterProvisioner;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setReloadTrigger">void<br/>setReloadTrigger</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Internal&nbsp;Property&nbsp;To&nbsp;Trigger&nbsp;The&nbsp;Reload&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>reloadTrigger</B></td>
<td width="120px" class="parameter-type"><B>float</B></td>
<td width="*" class="parameter-help">Internal Property To Trigger The Reload</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DReloadTrigger&nbsp;=&nbsp;reloadTrigger;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setSlaveColumnCondition">void<br/>setSlaveColumnCondition</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Column&nbsp;Condition&nbsp;To&nbsp;Read&nbsp;Slave&nbsp;Result&nbsp;Set&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>slaveColumnCondition</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Column Condition To Read Slave Result Set</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DSlaveColumnCondition&nbsp;=&nbsp;slaveColumnCondition;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setSlaveColumnIndex">void<br/>setSlaveColumnIndex</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Column&nbsp;Index&nbsp;For&nbsp;The&nbsp;Selection&nbsp;From&nbsp;Slave&nbsp;Result&nbsp;Set&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>slaveColumnIndex</B></td>
<td width="120px" class="parameter-type"><B>int</B></td>
<td width="*" class="parameter-help">Column Index For The Selection From Slave Result Set</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DSlaveColumnIndex&nbsp;=&nbsp;slaveColumnIndex;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setSlaveContentCondition">void<br/>setSlaveContentCondition</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Content&nbsp;Condition&nbsp;To&nbsp;Read&nbsp;Slave&nbsp;Result&nbsp;Set&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>slaveContentCondition</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Content Condition To Read Slave Result Set</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DSlaveContentCondition&nbsp;=&nbsp;slaveContentCondition;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setSlaveProvisioner">void<br/>setSlaveProvisioner</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Slave&nbsp;Central&nbsp;Data&nbsp;Provisioner&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>slaveProvisioner</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Slave Central Data Provisioner</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DSlaveProvisioner&nbsp;=&nbsp;slaveProvisioner;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setSlaveRowCondition">void<br/>setSlaveRowCondition</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Row&nbsp;Condition&nbsp;To&nbsp;Read&nbsp;Slave&nbsp;Result&nbsp;Set&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>slaveRowCondition</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Row Condition To Read Slave Result Set</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DSlaveRowCondition&nbsp;=&nbsp;slaveRowCondition;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>
	<div style="height:20px!important"> THE END </div>
	</div>
	
	<div style="height:60px!important"></div>
	
</div>
</body>
</html>