<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<script id="sap-ui-bootstrap" type="text/javascript" 
      /*src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"*/
      src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>

<script type="text/javascript" src="../js/ComponentMain.js"></script>
<script type="text/javascript" src="../js/PostResponseParser/PostResponseParser.js"></script>
<script type="text/javascript" src="../js/TimeLine.js"></script>
<script type="text/javascript" src="../js/ga.js"></script>

<script> 
	requestChangeLog("../../../../sdkhelp/web/10/components/basics/calendar/changes/changelog.json");
	requestContent("Blog", "../../../../sdkhelp/web/10/components/basics/calendar/blogs.json");
	requestContent("Example", "../../../../sdkhelp/web/10/components/basics/calendar/examples.json");
</script>

<title>Calendar - SCN Design Studio Community</title>
</head>
<body class="comp-body" style="height:100%">
<div class="comp-main" style="height:100%">

 	<div class="component-name">
	Calendar [ScnCommunityBasics]
	</div>
	<div class="component-title">
	Calendar
	</div>

<div id="componentnav"></div>
	<div id="intro">This page is giving short introduction to the component with summary of the change status (green/yellow/red)<div id="introStatus" height="120px"></div><br><p>
This is a wrapper on SAPUI5 Calendar Control
</p>
<p>
Link to blog: <a target="_blank" href="http://scn.sap.com/docs/DOC-62169">Design Studio SDK: Calendar Control</a>
</p>
</div>
	<div id="blogs" hidden="true" height="100%">This page is listing community blogs on this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="BlogsList" height="100%"></div></div>
	<div id="changelog" hidden="true" height="100%">This page is listing all changes which have been done on this component with corresponding test status (green: ok, red: not ok, yellow: untested), follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/07/introducing-change-log-for-community-components" target="_blank">this link</a> to learn more.<div id="changelogList" height="100%"></div></div>
	<div id="examples" hidden="true" height="100%">This page is listing all example applications with this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="ExamplesList" height="100%"></div></div>
	<div id="about" hidden="true">This page will bring more "about" details (generated)</div>
	<div id="technical" hidden="true">
	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>DCurrentValue<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Current Date Value YYYYMMDD</B><br/>Current Date Value YYYYMMDD

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">TODAY</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DValue<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Date Single Value YYYYMMDD</B><br/>Date Single Value YYYYMMDD

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">TODAY</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DValueF<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Date Value Range From YYYYMMDD</B><br/>Date Value Range From YYYYMMDD

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">TODAY</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DValueT<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Date Value Range To YYYYMMDD</B><br/>Date Value Range To YYYYMMDD

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">TODAY</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>firstDayOffset<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>First Day Offset (0 == Sunday)</B><br/>First Day Offset (0 == Sunday, 1 == Monday)

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">1</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>singleRow<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Single Row</B><br/>Single Row

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">false</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>monthsToDisplay<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Months To Display</B><br/>Months  ToDisplay

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">1</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>weeksPerRow<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Weeks Per Row</B><br/>Weeks Per Row

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">1</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>monthsPerRow<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Months Per Row</B><br/>Months Per Row

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">1</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DSelectionType<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Selection Type</B><br/>Selection Type
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">Single Selection</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">Range Selection</td>
<td class="value-td">&nbsp;</td>
</tr>

</table>
</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">Single Selection</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>onCurrentChanged<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>Event for On Current Value Changed</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>onSingleChanged<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>Event for On Value Change with Single Date</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>onRangeChanged<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>Event for On Value Change with Date Range</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setEnabled [<a href="#FUNCTION_setEnabled">details</a>]</td>
<td valign="top" width="*" class="function-short-name">enabled</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">isEnabled [<a href="#FUNCTION_isEnabled">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">boolean</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setEditable [<a href="#FUNCTION_setEditable">details</a>]</td>
<td valign="top" width="*" class="function-short-name">editable</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">isEditable [<a href="#FUNCTION_isEditable">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">boolean</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getCurrentDateValue [<a href="#FUNCTION_getCurrentDateValue">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setCurrentDateValue [<a href="#FUNCTION_setCurrentDateValue">details</a>]</td>
<td valign="top" width="*" class="function-short-name">value</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getSingleDateValue [<a href="#FUNCTION_getSingleDateValue">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setSingleDateValue [<a href="#FUNCTION_setSingleDateValue">details</a>]</td>
<td valign="top" width="*" class="function-short-name">value</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getRangeDateValueFrom [<a href="#FUNCTION_getRangeDateValueFrom">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setRangeDateValueFrom [<a href="#FUNCTION_setRangeDateValueFrom">details</a>]</td>
<td valign="top" width="*" class="function-short-name">value</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getRangeDateValueTo [<a href="#FUNCTION_getRangeDateValueTo">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setRangeDateValueTo [<a href="#FUNCTION_setRangeDateValueTo">details</a>]</td>
<td valign="top" width="*" class="function-short-name">value</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setEnabled">void<br/>setEnabled</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;the&nbsp;enabled&nbsp;value<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>enabled</B></td>
<td width="120px" class="parameter-type"><B>boolean</B></td>
<td width="*" class="parameter-help"> Editable value </td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.enabled&nbsp;=&nbsp;enabled;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_isEnabled">boolean<br/>isEnabled</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;enabled&nbsp;value<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.enabled;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setEditable">void<br/>setEditable</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;the&nbsp;editable&nbsp;value<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>editable</B></td>
<td width="120px" class="parameter-type"><B>boolean</B></td>
<td width="*" class="parameter-help"> Editable value </td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.editable&nbsp;=&nbsp;editable;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_isEditable">boolean<br/>isEditable</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;editable&nbsp;value<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.editable;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getCurrentDateValue">String<br/>getCurrentDateValue</td>
<td valign="top" width="*" class="function-help">returns&nbsp;current&nbsp;value<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DCurrentValue;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setCurrentDateValue">void<br/>setCurrentDateValue</td>
<td valign="top" width="*" class="function-help">sets&nbsp;current&nbsp;value<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>value</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DCurrentValue&nbsp;=&nbsp;value;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getSingleDateValue">String<br/>getSingleDateValue</td>
<td valign="top" width="*" class="function-help">returns&nbsp;single&nbsp;value<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DValue;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setSingleDateValue">void<br/>setSingleDateValue</td>
<td valign="top" width="*" class="function-help">sets&nbsp;single&nbsp;value<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>value</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DValue&nbsp;=&nbsp;value;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getRangeDateValueFrom">String<br/>getRangeDateValueFrom</td>
<td valign="top" width="*" class="function-help">returns&nbsp;value&nbsp;from<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DValueF;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setRangeDateValueFrom">void<br/>setRangeDateValueFrom</td>
<td valign="top" width="*" class="function-help">sets&nbsp;value&nbsp;from<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>value</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DValueF&nbsp;=&nbsp;value;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getRangeDateValueTo">String<br/>getRangeDateValueTo</td>
<td valign="top" width="*" class="function-help">returns&nbsp;value&nbsp;to<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DValueT;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setRangeDateValueTo">void<br/>setRangeDateValueTo</td>
<td valign="top" width="*" class="function-help">sets&nbsp;value&nbsp;to<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>value</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DValueT&nbsp;=&nbsp;value;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>
	<div style="height:20px!important"> THE END </div>
	</div>
	
	<div style="height:60px!important"></div>
	
</div>
</body>
</html>