<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<script id="sap-ui-bootstrap" type="text/javascript" 
      /*src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"*/
      src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>

<script type="text/javascript" src="../js/ComponentMain.js"></script>
<script type="text/javascript" src="../js/PostResponseParser/PostResponseParser.js"></script>
<script type="text/javascript" src="../js/TimeLine.js"></script>
<script type="text/javascript" src="../js/ga.js"></script>

<script> 
	requestChangeLog("../../../../sdkhelp/web/10/components/databound/projector/changes/changelog.json");
	requestContent("Blog", "../../../../sdkhelp/web/10/components/databound/projector/blogs.json");
	requestContent("Example", "../../../../sdkhelp/web/10/components/databound/projector/examples.json");
</script>

<title>Data Projector - SCN Design Studio Community</title>
</head>
<body class="comp-body" style="height:100%">
<div class="comp-main" style="height:100%">

 	<div class="component-name">
	Projector [ScnCommunityDataBound]
	</div>
	<div class="component-title">
	Data Projector
	</div>

<div id="componentnav"></div>
	<div id="intro">This page is giving short introduction to the component with summary of the change status (green/yellow/red)<div id="introStatus" height="120px"></div><br></div>
	<div id="blogs" hidden="true" height="100%">This page is listing community blogs on this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="BlogsList" height="100%"></div></div>
	<div id="changelog" hidden="true" height="100%">This page is listing all changes which have been done on this component with corresponding test status (green: ok, red: not ok, yellow: untested), follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/07/introducing-change-log-for-community-components" target="_blank">this link</a> to learn more.<div id="changelogList" height="100%"></div></div>
	<div id="examples" hidden="true" height="100%">This page is listing all example applications with this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="ExamplesList" height="100%"></div></div>
	<div id="about" hidden="true">This page will bring more "about" details (generated)</div>
	<div id="technical" hidden="true">
	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>data<br/>[ResultSet]</B></td>
<td width="*" class="property-title-tooltip"><B>Data Selection</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">DataBinding</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>projectDimension<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Dimension to Project</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>projectionMethod<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Projection Method</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">SUM</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>projectedData<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Projected Data</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setDataString [<a href="#FUNCTION_setDataString">details</a>]</td>
<td valign="top" width="*" class="function-short-name">dataString</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getDataString [<a href="#FUNCTION_getDataString">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getProjectedData [<a href="#FUNCTION_getProjectedData">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getProjectDimension [<a href="#FUNCTION_getProjectDimension">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setProjectDimension [<a href="#FUNCTION_setProjectDimension">details</a>]</td>
<td valign="top" width="*" class="function-short-name">dimension</td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getProjectionMethod [<a href="#FUNCTION_getProjectionMethod">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setProjectionMethod [<a href="#FUNCTION_setProjectionMethod">details</a>]</td>
<td valign="top" width="*" class="function-short-name">method</td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setDataString">void<br/>setDataString</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;data&nbsp;in&nbsp;serialized&nbsp;string&nbsp;form.&nbsp;&nbsp;Meant&nbsp;to&nbsp;be&nbsp;used&nbsp;in&nbsp;conjunction&nbsp;with<br/>SCN&nbsp;Community&nbsp;Projection&nbsp;data&nbsp;component&nbsp;or&nbsp;another&nbsp;BYO&nbsp;Data&nbsp;component.<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>dataString</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">String</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.data&nbsp;=&nbsp;dataString;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getDataString">String<br/>getDataString</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;serialized&nbsp;string&nbsp;representing&nbsp;data.&nbsp;&nbsp;Meant&nbsp;to&nbsp;be&nbsp;used&nbsp;with&nbsp;another<br/>SCN&nbsp;Community&nbsp;BYO&nbsp;Data&nbsp;component.<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.data;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getProjectedData">String<br/>getProjectedData</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;projected&nbsp;serialized&nbsp;string&nbsp;representing&nbsp;data.&nbsp;&nbsp;Meant&nbsp;to&nbsp;be&nbsp;used&nbsp;with&nbsp;another<br/>SCN&nbsp;Community&nbsp;BYO&nbsp;Data&nbsp;component.<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.projectedData;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getProjectDimension">String<br/>getProjectDimension</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;dimension&nbsp;key&nbsp;being&nbsp;projected<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.projectDimension;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setProjectDimension">String<br/>setProjectDimension</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;dimension&nbsp;to&nbsp;project/aggregate<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>dimension</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">String</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.projectDimension&nbsp;=&nbsp;dimension;<br/>&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;this.projectedData;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getProjectionMethod">String<br/>getProjectionMethod</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;projection/aggregation&nbsp;method<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.projectionMethod;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setProjectionMethod">String<br/>setProjectionMethod</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;method&nbsp;to&nbsp;project/aggregate<br/>Valid&nbsp;type:&nbsp;(SUM,MIN,MAX,COUNT,AVG)<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>method</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">String</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.projectionMethod&nbsp;=&nbsp;method;<br/>&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;this.projectedData;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>
	<div style="height:20px!important"> THE END </div>
	</div>
	
	<div style="height:60px!important"></div>
	
</div>
</body>
</html>