<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<script id="sap-ui-bootstrap" type="text/javascript" 
      /*src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"*/
      src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>

<script type="text/javascript" src="../js/ComponentMain.js"></script>
<script type="text/javascript" src="../js/PostResponseParser/PostResponseParser.js"></script>
<script type="text/javascript" src="../js/TimeLine.js"></script>
<script type="text/javascript" src="../js/ga.js"></script>

<script> 
	requestChangeLog("../../../../sdkhelp/web/components/utils/clientinformation/changes/changelog.json");
	requestContent("Blog", "../../../../sdkhelp/web/components/utils/clientinformation/blogs.json");
	requestContent("Example", "../../../../sdkhelp/web/components/utils/clientinformation/examples.json");
</script>

<title>Client Information - SCN Design Studio Community</title>
</head>
<body class="comp-body" style="height:100%">
<div class="comp-main" style="height:100%">

 	<div class="component-name">
	ClientInformation [ScnCommunityUtils]
	</div>
	<div class="component-title">
	Client Information
	</div>

<div id="componentnav"></div>
	<div id="intro">This page is giving short introduction to the component with summary of the change status (green/yellow/red)<div id="introStatus" height="120px"></div><br><p>
Sends client infromation available via browser API to the BIAL scriptis
</p>
<p>
Link to blog: <a target="_blank" href="http://scn.sap.com/docs/DOC-61450">Design Studio SDK: Client Information Component</a>
</p>
</div>
	<div id="blogs" hidden="true" height="100%">This page is listing community blogs on this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="BlogsList" height="100%"></div></div>
	<div id="changelog" hidden="true" height="100%">This page is listing all changes which have been done on this component with corresponding test status (green: ok, red: not ok, yellow: untested), follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/07/introducing-change-log-for-community-components" target="_blank">this link</a> to learn more.<div id="changelogList" height="100%"></div></div>
	<div id="examples" hidden="true" height="100%">This page is listing all example applications with this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="ExamplesList" height="100%"></div></div>
	<div id="about" hidden="true">This page will bring more "about" details (generated)</div>
	<div id="technical" hidden="true">
	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>readLocation<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Read the Location from Browser</B><br/>Read the Location from Browser

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>onGeoAvailable<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>Event for On Geo Available</B><br/>Event for On Geo Available

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>onInformationAvailable<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>Event for On Information Available</B><br/>Event for On Information Available

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>onSizeChanged<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>Event for On Size Changed</B><br/>Event for On Size Changed

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getAppCodeName [<a href="#FUNCTION_getAppCodeName">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getAppName [<a href="#FUNCTION_getAppName">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getAppVersion [<a href="#FUNCTION_getAppVersion">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getBrowser [<a href="#FUNCTION_getBrowser">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">org_scn_community_shared_BrowserEnumfield</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getBrowserFullVersion [<a href="#FUNCTION_getBrowserFullVersion">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getBrowserVersion [<a href="#FUNCTION_getBrowserVersion">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getGeoAccuracy [<a href="#FUNCTION_getGeoAccuracy">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getGeoLatitude [<a href="#FUNCTION_getGeoLatitude">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">float</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getGeoLongitude [<a href="#FUNCTION_getGeoLongitude">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">float</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getLanguage [<a href="#FUNCTION_getLanguage">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getOwnHeight [<a href="#FUNCTION_getOwnHeight">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getOwnWidth [<a href="#FUNCTION_getOwnWidth">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getPlatform [<a href="#FUNCTION_getPlatform">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getProduct [<a href="#FUNCTION_getProduct">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getScreenColorsDepth [<a href="#FUNCTION_getScreenColorsDepth">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getScreenHeight [<a href="#FUNCTION_getScreenHeight">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getScreenWidth [<a href="#FUNCTION_getScreenWidth">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getUserAgent [<a href="#FUNCTION_getUserAgent">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getVerndor [<a href="#FUNCTION_getVerndor">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getWindowHeight [<a href="#FUNCTION_getWindowHeight">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getWindowWidth [<a href="#FUNCTION_getWindowWidth">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">isHtmlVisible [<a href="#FUNCTION_isHtmlVisible">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">boolean</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">isMobileBrowser [<a href="#FUNCTION_isMobileBrowser">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">boolean</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">reload [<a href="#FUNCTION_reload">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>geoLocation<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Technical Component for Client Geo Location</B><br/>Technical Component for Client Geo Location

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">{}</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>htmlVisible<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Is The Component Visible</B><br/>Is The Component Visible

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">false</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>information<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Technical Component for Client Information</B><br/>Technical Component for Client Information

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">{}</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>ownHeight<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Height of the Component</B><br/>Height of the Component

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">-1</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>ownWidth<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Width of the Component</B><br/>Width of the Component

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>reloadRequest<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Reload Request Technical Flag</B><br/>Reload Request Technical Flag

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">X</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>windowHeight<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Height of the Window</B><br/>Height of the Window

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">-1</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>windowWidth<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Width of the Window</B><br/>Width of the Window

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">-1</td>
<td width="60px" class="property-visible">false</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getAppCodeName">String<br/>getAppCodeName</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;information&nbsp;about&nbsp;appCodeName<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;JSON.parse(this.information).appCodeName;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getAppName">String<br/>getAppName</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;information&nbsp;about&nbsp;appName<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;JSON.parse(this.information).appName;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getAppVersion">String<br/>getAppVersion</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;information&nbsp;about&nbsp;appVersion<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;JSON.parse(this.information).appVersion;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getBrowser">org_scn_community_shared_BrowserEnumfield<br/>getBrowser</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;browser&nbsp;type&nbsp;(CHROME&nbsp;|&nbsp;SAFARI&nbsp;|&nbsp;MOZILLA&nbsp;|&nbsp;IE)<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
var&nbsp;info&nbsp;=&nbsp;JSON.parse(this.information);<br/>&nbsp;&nbsp;&nbsp;&nbsp;var&nbsp;browserInfo&nbsp;=&nbsp;info.browserInfo;<br/>&nbsp;&nbsp;&nbsp;&nbsp;<br/>&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;browserInfo.browser;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getBrowserFullVersion">String<br/>getBrowserFullVersion</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;full&nbsp;browser&nbsp;version<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
var&nbsp;info&nbsp;=&nbsp;JSON.parse(this.information);<br/>&nbsp;&nbsp;&nbsp;&nbsp;var&nbsp;browserInfo&nbsp;=&nbsp;info.browserInfo;<br/>&nbsp;&nbsp;&nbsp;&nbsp;<br/>&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;browserInfo.fVersion;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getBrowserVersion">String<br/>getBrowserVersion</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;browser&nbsp;version<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
var&nbsp;info&nbsp;=&nbsp;JSON.parse(this.information);<br/>&nbsp;&nbsp;&nbsp;&nbsp;var&nbsp;browserInfo&nbsp;=&nbsp;info.browserInfo;<br/>&nbsp;&nbsp;&nbsp;&nbsp;<br/>&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;browserInfo.version;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getGeoAccuracy">int<br/>getGeoAccuracy</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;information&nbsp;about&nbsp;geo&nbsp;accuracy<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
var&nbsp;geo&nbsp;=&nbsp;JSON.parse(this.geoLocation);<br/>&nbsp;&nbsp;<br/>&nbsp;&nbsp;&nbsp;&nbsp;if(geo.ok)&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;geo.accuracy;<br/>&nbsp;&nbsp;&nbsp;&nbsp;}&nbsp;else&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;-999;<br/>&nbsp;&nbsp;&nbsp;&nbsp;}
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getGeoLatitude">float<br/>getGeoLatitude</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;information&nbsp;about&nbsp;geo&nbsp;latitude<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
var&nbsp;geo&nbsp;=&nbsp;JSON.parse(this.geoLocation);<br/>&nbsp;&nbsp;&nbsp;&nbsp;<br/>&nbsp;&nbsp;&nbsp;&nbsp;if(geo.ok)&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;geo.latitude;<br/>&nbsp;&nbsp;&nbsp;&nbsp;}&nbsp;else&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;-999;<br/>&nbsp;&nbsp;&nbsp;&nbsp;}
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getGeoLongitude">float<br/>getGeoLongitude</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;information&nbsp;about&nbsp;geo&nbsp;longitude<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
var&nbsp;geo&nbsp;=&nbsp;JSON.parse(this.geoLocation);<br/>&nbsp;&nbsp;<br/>&nbsp;&nbsp;&nbsp;&nbsp;if(geo.ok)&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;geo.longitude;<br/>&nbsp;&nbsp;&nbsp;&nbsp;}&nbsp;else&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;-999;<br/>&nbsp;&nbsp;&nbsp;&nbsp;}
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getLanguage">String<br/>getLanguage</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;information&nbsp;about&nbsp;language<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;JSON.parse(this.information).language;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getOwnHeight">int<br/>getOwnHeight</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;height&nbsp;of&nbsp;the&nbsp;own&nbsp;size<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.ownHeight;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getOwnWidth">int<br/>getOwnWidth</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;width&nbsp;of&nbsp;the&nbsp;own&nbsp;size<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.ownWidth;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getPlatform">String<br/>getPlatform</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;information&nbsp;about&nbsp;platform<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;JSON.parse(this.information).platform;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getProduct">String<br/>getProduct</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;information&nbsp;about&nbsp;product<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;JSON.parse(this.information).product;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getScreenColorsDepth">int<br/>getScreenColorsDepth</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;information&nbsp;about&nbsp;Screen&nbsp;Colors&nbsp;Depth<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;JSON.parse(this.information).colors;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getScreenHeight">int<br/>getScreenHeight</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;information&nbsp;about&nbsp;Screen&nbsp;Height<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;JSON.parse(this.information).height;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getScreenWidth">int<br/>getScreenWidth</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;information&nbsp;about&nbsp;Screen&nbsp;Width<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;JSON.parse(this.information).width;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getUserAgent">String<br/>getUserAgent</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;information&nbsp;about&nbsp;userAgent<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;JSON.parse(this.information).userAgent;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getVerndor">String<br/>getVerndor</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;information&nbsp;about&nbsp;verndor<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;JSON.parse(this.information).verndor;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getWindowHeight">int<br/>getWindowHeight</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;height&nbsp;of&nbsp;the&nbsp;browser&nbsp;window<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.windowHeight;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getWindowWidth">int<br/>getWindowWidth</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;width&nbsp;of&nbsp;the&nbsp;browser&nbsp;window<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.windowWidth;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_isHtmlVisible">boolean<br/>isHtmlVisible</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;html&nbsp;visibility<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.htmlVisible;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_isMobileBrowser">boolean<br/>isMobileBrowser</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;true&nbsp;if&nbsp;the&nbsp;browser&nbsp;is&nbsp;a&nbsp;mobile&nbsp;browser<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
var&nbsp;info&nbsp;=&nbsp;JSON.parse(this.information);<br/>&nbsp;&nbsp;&nbsp;&nbsp;var&nbsp;browserInfo&nbsp;=&nbsp;info.browserInfo;<br/>&nbsp;&nbsp;&nbsp;&nbsp;<br/>&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;browserInfo.mobile;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_reload">void<br/>reload</td>
<td valign="top" width="*" class="function-help">Reload&nbsp;Explicit&nbsp;Position&nbsp;Data<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
if(this.reloadRequest&nbsp;!=&nbsp;&quot;+&quot;)&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.reloadRequest&nbsp;=&nbsp;&quot;+&quot;;&nbsp;&nbsp;<br/>&nbsp;&nbsp;&nbsp;&nbsp;}&nbsp;else&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.reloadRequest&nbsp;=&nbsp;&quot;-&quot;;<br/>&nbsp;&nbsp;&nbsp;&nbsp;}
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>
	<div style="height:20px!important"> THE END </div>
	</div>
	
	<div style="height:60px!important"></div>
	
</div>
</body>
</html>