<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<script id="sap-ui-bootstrap" type="text/javascript" 
      /*src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"*/
      src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>

<script type="text/javascript" src="../js/ComponentMain.js"></script>
<script type="text/javascript" src="../js/PostResponseParser/PostResponseParser.js"></script>
<script type="text/javascript" src="../js/TimeLine.js"></script>
<script type="text/javascript" src="../js/ga.js"></script>

<script> 
	requestChangeLog("../../../../sdkhelp/web/components/utils/wspusher/changes/changelog.json");
	requestContent("Blog", "../../../../sdkhelp/web/components/utils/wspusher/blogs.json");
	requestContent("Example", "../../../../sdkhelp/web/components/utils/wspusher/examples.json");
</script>

<title>WebSocket Implementation - SCN Design Studio Community</title>
</head>
<body class="comp-body" style="height:100%">
<div class="comp-main" style="height:100%">

 	<div class="component-name">
	WSPusher [ScnCommunityUtils]
	</div>
	<div class="component-title">
	WebSocket Implementation
	</div>

<div id="componentnav"></div>
	<div id="intro">This page is giving short introduction to the component with summary of the change status (green/yellow/red)<div id="introStatus" height="120px"></div><br><p>
Small Component to describe how to use web sockets with DesignStudio
</p>
<p>
Link to blog: <a target="_blank" href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/09/14/about-demanding-clients-and-pushy-servers">Design Studio SDK: Use WebSockets to publish push messages on web</a>
</p>
</div>
	<div id="blogs" hidden="true" height="100%">This page is listing community blogs on this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="BlogsList" height="100%"></div></div>
	<div id="changelog" hidden="true" height="100%">This page is listing all changes which have been done on this component with corresponding test status (green: ok, red: not ok, yellow: untested), follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/07/introducing-change-log-for-community-components" target="_blank">this link</a> to learn more.<div id="changelogList" height="100%"></div></div>
	<div id="examples" hidden="true" height="100%">This page is listing all example applications with this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="ExamplesList" height="100%"></div></div>
	<div id="about" hidden="true">This page will bring more "about" details (generated)</div>
	<div id="technical" hidden="true">
	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>entries<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Protocol entries</B><br/>Protocol entries

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>fields<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>PCP fields</B><br/>PCP fields

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>protocol<br/>[Array]</B></td>
<td width="*" class="property-title-tooltip"><B>WebSocket Protocol</B><br/>WebSocket Protocol

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>sappcp<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Use SAP PCP</B><br/>Use SAP PCP websocket implementation

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">false</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>server<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Server URL</B><br/>

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">ws://echo.websocket.org/</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>onChannelClosed<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>On Push Channel Closed</B><br/>On Push Channel Closed

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>onChannelOpen<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>On Push Channel Open</B><br/>On Push Channel Open

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>onPushErrorReceived<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>On Push Error Message Received</B><br/>On Push Error Message Received

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>onPushReceived<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>On Push Message Received</B><br/>On Push Message Received

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">calcTimestamp [<a href="#FUNCTION_calcTimestamp">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">close [<a href="#FUNCTION_close">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getLastPushMessage [<a href="#FUNCTION_getLastPushMessage">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getLastPushMessagePcpFields [<a href="#FUNCTION_getLastPushMessagePcpFields">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getMessage [<a href="#FUNCTION_getMessage">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getServerURL [<a href="#FUNCTION_getServerURL">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">open [<a href="#FUNCTION_open">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">send [<a href="#FUNCTION_send">details</a>]</td>
<td valign="top" width="*" class="function-short-name">(pcpField)</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setMessage [<a href="#FUNCTION_setMessage">details</a>]</td>
<td valign="top" width="*" class="function-short-name">msg</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setServerURL [<a href="#FUNCTION_setServerURL">details</a>]</td>
<td valign="top" width="*" class="function-short-name">url</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>close<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Message close trigger</B><br/>

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>msg<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Message for server</B><br/>

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>open<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Open WebSocket</B><br/>

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>pcpFields<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>PCP Fields from server</B><br/>

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>push<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Push answer from server</B><br/>

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>send<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Message send trigger</B><br/>

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>sendPcpFields<br/>[Array]</B></td>
<td width="*" class="property-title-tooltip"><B>PCP Fields from client</B><br/>

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_calcTimestamp">String<br/>calcTimestamp</td>
<td valign="top" width="*" class="function-help">@Visibility(private)<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;new&nbsp;Date().valueOf();
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_close">void<br/>close</td>
<td valign="top" width="*" class="function-help">Close&nbsp;WebSocket<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.close&nbsp;=&nbsp;calcTimestamp();
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getLastPushMessage">String<br/>getLastPushMessage</td>
<td valign="top" width="*" class="function-help">Get&nbsp;latest&nbsp;push&nbsp;message.&nbsp;Should&nbsp;be&nbsp;called&nbsp;from&nbsp;within&nbsp;event&nbsp;handler&nbsp;(onPushReceived,onPushErrorReceived)<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.push;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getLastPushMessagePcpFields">String<br/>getLastPushMessagePcpFields</td>
<td valign="top" width="*" class="function-help">Get&nbsp;latest&nbsp;pcp&nbsp;message.&nbsp;Should&nbsp;be&nbsp;called&nbsp;from&nbsp;within&nbsp;event&nbsp;handler&nbsp;(onPushReceived,onPushErrorReceived)&nbsp;and&nbsp;with&nbsp;PCP&nbsp;active<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.pcpFields;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getMessage">String<br/>getMessage</td>
<td valign="top" width="*" class="function-help">Get&nbsp;Message&nbsp;to&nbsp;be&nbsp;send&nbsp;to&nbsp;server<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.msg;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getServerURL">String<br/>getServerURL</td>
<td valign="top" width="*" class="function-help">Get&nbsp;Server&nbsp;URL<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.server;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_open">void<br/>open</td>
<td valign="top" width="*" class="function-help">Open&nbsp;WebSocket<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.open=&nbsp;calcTimestamp();
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_send">void<br/>send</td>
<td valign="top" width="*" class="function-help">Send&nbsp;actual&nbsp;message&nbsp;to&nbsp;WebSocket&nbsp;compatible&nbsp;server.&nbsp;You&nbsp;need&nbsp;to&nbsp;setup&nbsp;the&nbsp;message&nbsp;with&nbsp;setMessage&nbsp;before!<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>pcpField</B></td>
<td width="120px" class="parameter-type"><B>array [ optional ]</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
var&nbsp;current&nbsp;=&nbsp;pcpField&nbsp;||&nbsp;[];<br/>&nbsp;&nbsp;&nbsp;&nbsp;this.sendPcpFields&nbsp;=&nbsp;current;<br/>&nbsp;&nbsp;&nbsp;&nbsp;this.send&nbsp;=&nbsp;calcTimestamp();
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setMessage">void<br/>setMessage</td>
<td valign="top" width="*" class="function-help">Set&nbsp;message&nbsp;to&nbsp;be&nbsp;send&nbsp;to&nbsp;the&nbsp;destination&nbsp;WebSocket.&nbsp;Should&nbsp;be&nbsp;called&nbsp;before&nbsp;send&nbsp;method.<br/>We&nbsp;recommend&nbsp;using&nbsp;JSON&nbsp;as&nbsp;data&nbsp;format<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>msg</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.msg&nbsp;=&nbsp;msg;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setServerURL">void<br/>setServerURL</td>
<td valign="top" width="*" class="function-help">Set&nbsp;Server&nbsp;URL.<br/>Examples<br/>Non-Secure&nbsp;connection:&nbsp;ws://echo.websocket.org<br/>Secure&nbsp;connection:&nbsp;wss://echo.websocket.org<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>url</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.server&nbsp;=&nbsp;url;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>
	<div style="height:20px!important"> THE END </div>
	</div>
	
	<div style="height:60px!important"></div>
	
</div>
</body>
</html>