<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<title>Aps Tester - SCN Design Studio Community</title>
</head>
<body class="comp-body">
<div class="comp-main">

	<div class="component-back">
		<a href="../index.html" target="_top">show list of all components</a>
	</div>
	<div class="component-name">
	ApsTester [COMP-group]
	</div>
	<div class="component-title">
	Aps Tester
	</div>

	

	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setComboboxExample [<a href="#FUNCTION_setComboboxExample">details</a>]</td>
<td valign="top" width="*" class="function-short-name">comboboxExample</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getComboboxExample [<a href="#FUNCTION_getComboboxExample">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setColorExample [<a href="#FUNCTION_setColorExample">details</a>]</td>
<td valign="top" width="*" class="function-short-name">colorExample</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getColorExample [<a href="#FUNCTION_getColorExample">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setCheckboxExample [<a href="#FUNCTION_setCheckboxExample">details</a>]</td>
<td valign="top" width="*" class="function-short-name">checkboxExample</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">isCheckboxExample [<a href="#FUNCTION_isCheckboxExample">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">boolean</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">isCheckboxOnlyGetterExample [<a href="#FUNCTION_isCheckboxOnlyGetterExample">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">boolean</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setPaletteExample [<a href="#FUNCTION_setPaletteExample">details</a>]</td>
<td valign="top" width="*" class="function-short-name">paletteExample</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getPaletteExample [<a href="#FUNCTION_getPaletteExample">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setTextExample [<a href="#FUNCTION_setTextExample">details</a>]</td>
<td valign="top" width="*" class="function-short-name">textExample</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getTextExample [<a href="#FUNCTION_getTextExample">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setSpinnerExample [<a href="#FUNCTION_setSpinnerExample">details</a>]</td>
<td valign="top" width="*" class="function-short-name">spinnerExample</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getSpinnerExample [<a href="#FUNCTION_getSpinnerExample">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<A NAME="FUNCTION_setComboboxExample">
<td valign="top" width="220px" class="function-return-name">void<br/>setComboboxExample</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Ignore&nbsp;Expanded&nbsp;Hierarchy&nbsp;Nodes&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>comboboxExample</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Ignore Expanded Hierarchy Nodes</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.comboboxExample&nbsp;=&nbsp;comboboxExample;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_getComboboxExample">
<td valign="top" width="220px" class="function-return-name">String<br/>getComboboxExample</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Ignore&nbsp;Expanded&nbsp;Hierarchy&nbsp;Nodes&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.comboboxExample;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_setColorExample">
<td valign="top" width="220px" class="function-return-name">void<br/>setColorExample</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Ignore&nbsp;Expanded&nbsp;Hierarchy&nbsp;Nodes&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>colorExample</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Ignore Expanded Hierarchy Nodes</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.colorExample&nbsp;=&nbsp;colorExample;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_getColorExample">
<td valign="top" width="220px" class="function-return-name">String<br/>getColorExample</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Ignore&nbsp;Expanded&nbsp;Hierarchy&nbsp;Nodes&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.colorExample;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_setCheckboxExample">
<td valign="top" width="220px" class="function-return-name">void<br/>setCheckboxExample</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Ignore&nbsp;Totals&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>checkboxExample</B></td>
<td width="120px" class="parameter-type"><B>boolean</B></td>
<td width="*" class="parameter-help">Ignore Totals</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.checkboxExample&nbsp;=&nbsp;checkboxExample;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_isCheckboxExample">
<td valign="top" width="220px" class="function-return-name">boolean<br/>isCheckboxExample</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Ignore&nbsp;Totals&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.checkboxExample;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_isCheckboxOnlyGetterExample">
<td valign="top" width="220px" class="function-return-name">boolean<br/>isCheckboxOnlyGetterExample</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Ignore&nbsp;Totals&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.checkboxOnlyGetterExample;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_setPaletteExample">
<td valign="top" width="220px" class="function-return-name">void<br/>setPaletteExample</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Ignore&nbsp;Expanded&nbsp;Hierarchy&nbsp;Nodes&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>paletteExample</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Ignore Expanded Hierarchy Nodes</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.paletteExample&nbsp;=&nbsp;paletteExample;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_getPaletteExample">
<td valign="top" width="220px" class="function-return-name">String<br/>getPaletteExample</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Ignore&nbsp;Expanded&nbsp;Hierarchy&nbsp;Nodes&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.paletteExample;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_setTextExample">
<td valign="top" width="220px" class="function-return-name">void<br/>setTextExample</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Ignore&nbsp;Expanded&nbsp;Hierarchy&nbsp;Nodes&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>textExample</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Ignore Expanded Hierarchy Nodes</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.textExample&nbsp;=&nbsp;textExample;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_getTextExample">
<td valign="top" width="220px" class="function-return-name">String<br/>getTextExample</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Ignore&nbsp;Expanded&nbsp;Hierarchy&nbsp;Nodes&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.textExample;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_setSpinnerExample">
<td valign="top" width="220px" class="function-return-name">void<br/>setSpinnerExample</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Ignore&nbsp;Expanded&nbsp;Hierarchy&nbsp;Nodes&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>spinnerExample</B></td>
<td width="120px" class="parameter-type"><B>int</B></td>
<td width="*" class="parameter-help">Ignore Expanded Hierarchy Nodes</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.spinnerExample&nbsp;=&nbsp;spinnerExample;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_getSpinnerExample">
<td valign="top" width="220px" class="function-return-name">int<br/>getSpinnerExample</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Ignore&nbsp;Expanded&nbsp;Hierarchy&nbsp;Nodes&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.spinnerExample;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>

</div>
</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61231710-1', 'auto');
  ga('send', 'pageview');

</script>
</html>