<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<script id="sap-ui-bootstrap" type="text/javascript" 
      /*src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"*/
      src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>

<script type="text/javascript" src="../js/ComponentMain.js"></script>
<script type="text/javascript" src="../js/PostResponseParser/PostResponseParser.js"></script>
<script type="text/javascript" src="../js/TimeLine.js"></script>
<script type="text/javascript" src="../js/ga.js"></script>

<script> 
	requestChangeLog("../../../../sdkhelp/web/components/databound/multileveldropdown/changes/changelog.json");
	requestContent("Blog", "../../../../sdkhelp/web/components/databound/multileveldropdown/blogs.json");
	requestContent("Example", "../../../../sdkhelp/web/components/databound/multileveldropdown/examples.json");
</script>

<title>Hierarchical Menu - SCN Design Studio Community</title>
</head>
<body class="comp-body" style="height:100%">
<div class="comp-main" style="height:100%">

 	<div class="component-name">
	MultiLevelDropDown [ScnCommunityDataBound]
	</div>
	<div class="component-title">
	Hierarchical Menu
	</div>

<div id="componentnav"></div>
	<div id="intro">This page is giving short introduction to the component with summary of the change status (green/yellow/red)<div id="introStatus" height="120px"></div><br></div>
	<div id="blogs" hidden="true" height="100%">This page is listing community blogs on this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="BlogsList" height="100%"></div></div>
	<div id="changelog" hidden="true" height="100%">This page is listing all changes which have been done on this component with corresponding test status (green: ok, red: not ok, yellow: untested), follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/07/introducing-change-log-for-community-components" target="_blank">this link</a> to learn more.<div id="changelogList" height="100%"></div></div>
	<div id="examples" hidden="true" height="100%">This page is listing all example applications with this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="ExamplesList" height="100%"></div></div>
	<div id="about" hidden="true">This page will bring more "about" details (generated)</div>
	<div id="technical" hidden="true">
	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>addMesure<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Display a Measure</B><br/>Display a Measure

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">false</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>addSingleRootNode<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Add a single root node</B><br/>Add a single root node

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>labelDisplay<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Label Display</B><br/>Label Display
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">NodeKey</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">Left</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">Right</td>
<td class="value-td">&nbsp;</td>
</tr>

</table>
</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">Left</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>resetButton<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Display Reset Button</B><br/>Display Reset Button
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">None</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">Left</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">Right</td>
<td class="value-td">&nbsp;</td>
</tr>

</table>
</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">None</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>singleRootNodeName<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Single Root Node Name</B><br/>Single Root Node Name

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">Root</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>onClick<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>On Click</B><br/>On Click

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>onReset<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>On Reset</B><br/>On Reset

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">activateDisplayMeasure [<a href="#FUNCTION_activateDisplayMeasure">details</a>]</td>
<td valign="top" width="*" class="function-short-name">value</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getColorClass [<a href="#FUNCTION_getColorClass">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getDimension [<a href="#FUNCTION_getDimension">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getLabelDisplay [<a href="#FUNCTION_getLabelDisplay">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getNotAssignedText [<a href="#FUNCTION_getNotAssignedText">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getResetButton [<a href="#FUNCTION_getResetButton">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getSelMeasure [<a href="#FUNCTION_getSelMeasure">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getSelectedElemKey [<a href="#FUNCTION_getSelectedElemKey">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getSelectedElemText [<a href="#FUNCTION_getSelectedElemText">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getSingleRootNodeName [<a href="#FUNCTION_getSingleRootNodeName">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">isMeasureDisplayActivated [<a href="#FUNCTION_isMeasureDisplayActivated">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">boolean</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">isSingleNodeActivated [<a href="#FUNCTION_isSingleNodeActivated">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">boolean</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setAddSingleRootNode [<a href="#FUNCTION_setAddSingleRootNode">details</a>]</td>
<td valign="top" width="*" class="function-short-name">value</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setColorClass [<a href="#FUNCTION_setColorClass">details</a>]</td>
<td valign="top" width="*" class="function-short-name">value</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setDimension [<a href="#FUNCTION_setDimension">details</a>]</td>
<td valign="top" width="*" class="function-short-name">value</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setLabelDisplay [<a href="#FUNCTION_setLabelDisplay">details</a>]</td>
<td valign="top" width="*" class="function-short-name">value</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setNotAssignedText [<a href="#FUNCTION_setNotAssignedText">details</a>]</td>
<td valign="top" width="*" class="function-short-name">value</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setResetButton [<a href="#FUNCTION_setResetButton">details</a>]</td>
<td valign="top" width="*" class="function-short-name">value</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setSelMeasure [<a href="#FUNCTION_setSelMeasure">details</a>]</td>
<td valign="top" width="*" class="function-short-name">value</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setSelectedElemKey [<a href="#FUNCTION_setSelectedElemKey">details</a>]</td>
<td valign="top" width="*" class="function-short-name">selectedKey</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setSelectedElemText [<a href="#FUNCTION_setSelectedElemText">details</a>]</td>
<td valign="top" width="*" class="function-short-name">selectedText</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setSingleRootNodeName [<a href="#FUNCTION_setSingleRootNodeName">details</a>]</td>
<td valign="top" width="*" class="function-short-name">newName</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>colorClass<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>colorClass</B><br/>colorClass

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>colorClassMesure<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Color Coding Measure</B><br/>Color Coding Measure

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>data<br/>[ResultSet]</B></td>
<td width="*" class="property-title-tooltip"><B>Data</B><br/>Data

</td>
<td width="60px" class="property-group">DataBinding</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>notAssignedText<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>replace the text for Not Assigned node</B><br/>replace the text for Not Assigned node

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>selChar<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>selChar</B><br/>selChar

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>selMesure<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Displayed Measure</B><br/>Displayed Measure

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>selectedElemKey<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>selected Element Key</B><br/>selected Element Key

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>selectedElemText<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Selected Element Text</B><br/>Selected Element Text

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_activateDisplayMeasure">void<br/>activateDisplayMeasure</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>value</B></td>
<td width="120px" class="parameter-type"><B>Boolean</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.addMesure&nbsp;=&nbsp;value;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getColorClass">String<br/>getColorClass</td>
<td valign="top" width="*" class="function-help">-------&nbsp;Getter&nbsp;/&nbsp;Setter&nbsp;for&nbsp;colorClass&nbsp;------<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.colorClass;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getDimension">String<br/>getDimension</td>
<td valign="top" width="*" class="function-help">-------&nbsp;Getter&nbsp;/&nbsp;Setter&nbsp;for&nbsp;singleRootName&nbsp;------<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.selChar;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getLabelDisplay">String<br/>getLabelDisplay</td>
<td valign="top" width="*" class="function-help">-------&nbsp;Getter&nbsp;/&nbsp;Setter&nbsp;for&nbsp;selectedElemKey&nbsp;------<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.labelDisplay;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getNotAssignedText">String<br/>getNotAssignedText</td>
<td valign="top" width="*" class="function-help">-------&nbsp;Getter&nbsp;/&nbsp;Setter&nbsp;for&nbsp;replaceNotAssignedText&nbsp;------<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.notAssignedText;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getResetButton">String<br/>getResetButton</td>
<td valign="top" width="*" class="function-help">-------&nbsp;Getter&nbsp;/&nbsp;Setter&nbsp;for&nbsp;resetButton&nbsp;------<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.resetButton;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getSelMeasure">String<br/>getSelMeasure</td>
<td valign="top" width="*" class="function-help">-------&nbsp;Getter&nbsp;/&nbsp;Setter&nbsp;for&nbsp;selMeasure&nbsp;------<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.selMesure;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getSelectedElemKey">String<br/>getSelectedElemKey</td>
<td valign="top" width="*" class="function-help">-------&nbsp;Getter&nbsp;/&nbsp;Setter&nbsp;for&nbsp;selectedElemKey&nbsp;------<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.SelectedElemKey;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getSelectedElemText">String<br/>getSelectedElemText</td>
<td valign="top" width="*" class="function-help">-------&nbsp;Getter&nbsp;/&nbsp;Setter&nbsp;for&nbsp;selectedElemKey&nbsp;------<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.SelectedElemText;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getSingleRootNodeName">String<br/>getSingleRootNodeName</td>
<td valign="top" width="*" class="function-help">-------&nbsp;Getter&nbsp;/&nbsp;Setter&nbsp;for&nbsp;singleRootName&nbsp;------<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.singleRootNodeName;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_isMeasureDisplayActivated">boolean<br/>isMeasureDisplayActivated</td>
<td valign="top" width="*" class="function-help">-------&nbsp;Getter&nbsp;/&nbsp;Setter&nbsp;for&nbsp;addMeasure&nbsp;------<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.addMesure;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_isSingleNodeActivated">boolean<br/>isSingleNodeActivated</td>
<td valign="top" width="*" class="function-help">-------&nbsp;Getter&nbsp;/&nbsp;Setter&nbsp;for&nbsp;addSingleRootNode&nbsp;------<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.addSingleRootNode;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setAddSingleRootNode">void<br/>setAddSingleRootNode</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>value</B></td>
<td width="120px" class="parameter-type"><B>Boolean</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.addSingleRootNode&nbsp;=&nbsp;value;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setColorClass">void<br/>setColorClass</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>value</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.colorClass&nbsp;=&nbsp;value;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setDimension">void<br/>setDimension</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>value</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.selChar&nbsp;=&nbsp;value;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setLabelDisplay">void<br/>setLabelDisplay</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>value</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.labelDisplay&nbsp;=&nbsp;value;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setNotAssignedText">void<br/>setNotAssignedText</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>value</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.notAssignedText&nbsp;=&nbsp;value;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setResetButton">void<br/>setResetButton</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>value</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.resetButton&nbsp;=&nbsp;value;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setSelMeasure">void<br/>setSelMeasure</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>value</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.selMesure&nbsp;=&nbsp;value;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setSelectedElemKey">void<br/>setSelectedElemKey</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>selectedKey</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.SelectedElemKey&nbsp;=&nbsp;selectedKey;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setSelectedElemText">void<br/>setSelectedElemText</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>selectedText</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.SelectedElemText&nbsp;=&nbsp;selectedText;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setSingleRootNodeName">void<br/>setSingleRootNodeName</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>newName</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.singleRootNodeName&nbsp;=&nbsp;newName;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>
	<div style="height:20px!important"> THE END </div>
	</div>
	
	<div style="height:60px!important"></div>
	
</div>
</body>
</html>