<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<script id="sap-ui-bootstrap" type="text/javascript" 
      /*src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"*/
      src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>

<script type="text/javascript" src="../js/ComponentMain.js"></script>
<script type="text/javascript" src="../js/PostResponseParser/PostResponseParser.js"></script>
<script type="text/javascript" src="../js/TimeLine.js"></script>
<script type="text/javascript" src="../js/ga.js"></script>

<script> 
	requestChangeLog("../../../../sdkhelp/web/10/components/utils/pdfprint/changes/changelog.json");
	requestContent("Blog", "../../../../sdkhelp/web/10/components/utils/pdfprint/blogs.json");
	requestContent("Example", "../../../../sdkhelp/web/10/components/utils/pdfprint/examples.json");
</script>

<title>PDF Print - SCN Design Studio Community</title>
</head>
<body class="comp-body" style="height:100%">
<div class="comp-main" style="height:100%">

 	<div class="component-name">
	PdfPrint [ScnCommunityUtils]
	</div>
	<div class="component-title">
	PDF Print
	</div>

<div id="componentnav"></div>
	<div id="intro">This page is giving short introduction to the component with summary of the change status (green/yellow/red)<div id="introStatus" height="120px"></div><br><p>
Util Component which allows you to print the application or its part as PDF.
</p>
<p>
Link to blog: <a target="_blank" href="http://scn.sap.com/docs/DOC-62339">Design Studio SDK: Pdf Print Component</a>
</p>
</div>
	<div id="blogs" hidden="true" height="100%">This page is listing community blogs on this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="BlogsList" height="100%"></div></div>
	<div id="changelog" hidden="true" height="100%">This page is listing all changes which have been done on this component with corresponding test status (green: ok, red: not ok, yellow: untested), follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/07/introducing-change-log-for-community-components" target="_blank">this link</a> to learn more.<div id="changelogList" height="100%"></div></div>
	<div id="examples" hidden="true" height="100%">This page is listing all example applications with this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="ExamplesList" height="100%"></div></div>
	<div id="about" hidden="true">This page will bring more "about" details (generated)</div>
	<div id="technical" hidden="true">
	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>pdfMethod<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>PDF Export Type</B><br/>&nbsp;
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">Save</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">New Window</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">Same Page</td>
<td class="value-td">&nbsp;</td>
</tr>

</table>
</td>
<td width="60px" class="property-group">Behavior</td>
<td width="100px" class="property-default">Save</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>svgMode<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>SVG Conversion Mode</B><br/>&nbsp;
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">Data Uri</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">Canvas</td>
<td class="value-td">&nbsp;</td>
</tr>

</table>
</td>
<td width="60px" class="property-group">Behavior</td>
<td width="100px" class="property-default">Data Uri</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>rootPanel<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Root Panel Name</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">Behavior</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>fileName<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>File Name</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">Behavior</td>
<td width="100px" class="property-default">PDF_$TIME</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>unit<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Unit</B><br/>&nbsp;
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">pt</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">mm</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">cm</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">in</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">px</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">pc</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">em</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">ex</td>
<td class="value-td">&nbsp;</td>
</tr>

</table>
</td>
<td width="60px" class="property-group">Behavior</td>
<td width="100px" class="property-default">pt</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>orientation<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Page Orientation</B><br/>&nbsp;
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">portrait</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">landscape</td>
<td class="value-td">&nbsp;</td>
</tr>

</table>
</td>
<td width="60px" class="property-group">Behavior</td>
<td width="100px" class="property-default">portrait</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>format<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Page Format</B><br/>&nbsp;
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">a0</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">a1</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">a2</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">a3</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">a4</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">a5</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">a6</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">a7</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">a8</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">a9</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">a10</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">b0</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">b1</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">b2</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">b3</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">b4</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">b5</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">b6</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">b7</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">b8</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">b9</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">b10</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">c0</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">c1</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">c2</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">c3</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">c4</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">c5</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">c6</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">c7</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">c8</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">c9</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">c10</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">dl</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">letter</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">government-letter</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">legal</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">junior-legal</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">ledger</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">tabloid</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">credit-card</td>
<td class="value-td">&nbsp;</td>
</tr>

</table>
</td>
<td width="60px" class="property-group">Behavior</td>
<td width="100px" class="property-default">a4</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">print [<a href="#FUNCTION_print">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setRootPanel [<a href="#FUNCTION_setRootPanel">details</a>]</td>
<td valign="top" width="*" class="function-short-name">panelName</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>trigger<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Just as Simple Triger</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_print">void<br/>print</td>
<td valign="top" width="*" class="function-help">Trigger&nbsp;Execution&nbsp;of&nbsp;the&nbsp;given&nbsp;URL&nbsp;and&nbsp;parameter&nbsp;list<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.trigger&nbsp;=&nbsp;&quot;GO&quot;;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setRootPanel">void<br/>setRootPanel</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;the&nbsp;root&nbsp;panel&nbsp;name,&nbsp;this&nbsp;panel&nbsp;will&nbsp;be&nbsp;printed&nbsp;as&nbsp;sub&nbsp;part&nbsp;of&nbsp;the&nbsp;application<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>panelName</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Name of the panel to print</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.rootPanel&nbsp;=&nbsp;panelName;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>
	<div style="height:20px!important"> THE END </div>
	</div>
	
	<div style="height:60px!important"></div>
	
</div>
</body>
</html>