<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<script id="sap-ui-bootstrap" type="text/javascript" 
      /*src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"*/
      src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>

<script type="text/javascript" src="../js/ComponentMain.js"></script>
<script type="text/javascript" src="../js/PostResponseParser/PostResponseParser.js"></script>
<script type="text/javascript" src="../js/TimeLine.js"></script>
<script type="text/javascript" src="../js/ga.js"></script>

<script> 
	requestChangeLog("../../../../sdkhelp/web/components/visualizations/harveyballmicrochart/changes/changelog.json");
	requestContent("Blog", "../../../../sdkhelp/web/components/visualizations/harveyballmicrochart/blogs.json");
	requestContent("Example", "../../../../sdkhelp/web/components/visualizations/harveyballmicrochart/examples.json");
</script>

<title>Harvey Ball Micro Chart 2.0 - SCN Design Studio Community</title>
</head>
<body class="comp-body" style="height:100%">
<div class="comp-main" style="height:100%">

 	<div class="component-name">
	HarveyBallMicroChart [ScnCommunityVisualizations]
	</div>
	<div class="component-title">
	Harvey Ball Micro Chart 2.0
	</div>

<div id="componentnav"></div>
	<div id="intro">This page is giving short introduction to the component with summary of the change status (green/yellow/red)<div id="introStatus" height="120px"></div><br></div>
	<div id="blogs" hidden="true" height="100%">This page is listing community blogs on this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="BlogsList" height="100%"></div></div>
	<div id="changelog" hidden="true" height="100%">This page is listing all changes which have been done on this component with corresponding test status (green: ok, red: not ok, yellow: untested), follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/07/introducing-change-log-for-community-components" target="_blank">this link</a> to learn more.<div id="changelogList" height="100%"></div></div>
	<div id="examples" hidden="true" height="100%">This page is listing all example applications with this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="ExamplesList" height="100%"></div></div>
	<div id="about" hidden="true">This page will bring more "about" details (generated)</div>
	<div id="technical" hidden="true">
	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>colorPalette<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Colour Palette</B><br/>Colour Palette

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">[]</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>contentWidth<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Content Width</B><br/>Content Width

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">0</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>dataCellListItems<br/>[ResultCellList]</B></td>
<td width="*" class="property-title-tooltip"><B>Items Data List [Multiple]</B><br/>Items Data List [Multiple]

</td>
<td width="60px" class="property-group">DataBinding</td>
<td width="100px" class="property-default">null</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>dataCellListTotal<br/>[ResultCellList]</B></td>
<td width="*" class="property-title-tooltip"><B>Total Data List</B><br/>Total Data List

</td>
<td width="60px" class="property-group">DataBinding</td>
<td width="100px" class="property-default">null</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>formattedLabel<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Formatted Label</B><br/>Formatted Label

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">false</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>items<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Items</B><br/>Items

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">[{"parentKey":"ROOT","key":"ELEMENT","leaf":false,"formattedLabel":false,"color":"Good","fraction":2 ... truncated</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>showFractions<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Show Fractions</B><br/>Show Fractions

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>showTotal<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Show Total</B><br/>Show Total

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>size<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Size</B><br/>Size

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">Auto</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>total<br/>[float]</B></td>
<td width="*" class="property-title-tooltip"><B>Total</B><br/>Total

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">100</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>totalLabel<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Total Label</B><br/>Total Label

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>totalScale<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Total Scale</B><br/>Total Scale

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">M</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>useColorPalette<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Use Manual 'Colour Palette'</B><br/>Use Manual 'Colour Palette'

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>useContentWidth<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Use Manual 'Content Width'</B><br/>Use Manual 'Content Width'

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>useItems<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Use Manual 'Items'</B><br/>Use Manual 'Items'

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>useTotal<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Use Manual 'Total'</B><br/>Use Manual 'Total'

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	
	</TABLE>
	<div style="height:20px!important"> THE END </div>
	</div>
	
	<div style="height:60px!important"></div>
	
</div>
</body>
</html>