<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<script id="sap-ui-bootstrap" type="text/javascript" 
      /*src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"*/
      src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>

<script type="text/javascript" src="../js/ComponentMain.js"></script>
<script type="text/javascript" src="../js/PostResponseParser/PostResponseParser.js"></script>
<script type="text/javascript" src="../js/TimeLine.js"></script>
<script type="text/javascript" src="../js/ga.js"></script>

<script> 
	requestChangeLog("../../../../sdkhelp/web/components/basics/worldtime/changes/changelog.json");
	requestContent("Blog", "../../../../sdkhelp/web/components/basics/worldtime/blogs.json");
	requestContent("Example", "../../../../sdkhelp/web/components/basics/worldtime/examples.json");
</script>

<title>World Time 2.0 - SCN Design Studio Community</title>
</head>
<body class="comp-body" style="height:100%">
<div class="comp-main" style="height:100%">

 	<div class="component-name">
	WorldTime [ScnCommunityBasics]
	</div>
	<div class="component-title">
	World Time 2.0
	</div>

<div id="componentnav"></div>
	<div id="intro">This page is giving short introduction to the component with summary of the change status (green/yellow/red)<div id="introStatus" height="120px"></div><br><p>
This component visualizes current time according to given UTC offset and locale settings with a String.<br>
</p>
<p>
Link to blog: <a target="_blank" href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/09/14/about-demanding-clients-and-pushy-servers">Design Studio SDK: Display localized time string</a>
</p>
</div>
	<div id="blogs" hidden="true" height="100%">This page is listing community blogs on this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="BlogsList" height="100%"></div></div>
	<div id="changelog" hidden="true" height="100%">This page is listing all changes which have been done on this component with corresponding test status (green: ok, red: not ok, yellow: untested), follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/07/introducing-change-log-for-community-components" target="_blank">this link</a> to learn more.<div id="changelogList" height="100%"></div></div>
	<div id="examples" hidden="true" height="100%">This page is listing all example applications with this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="ExamplesList" height="100%"></div></div>
	<div id="about" hidden="true">This page will bring more "about" details (generated)</div>
	<div id="technical" hidden="true">
	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>dateformat<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Date Format</B><br/>Date Format

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">ddmmyy</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>daylightsaving<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Consider Daylight Saving</B><br/>Consider Daylight Saving

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>interval<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Update Interval (in Ms)</B><br/>Update Interval (in Ms)

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">5000</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>locale<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Locale</B><br/>Locale

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">deDE</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>showtimezonename<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Show Timezone Name</B><br/>Show Timezone Name

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>timeformat<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Time Format</B><br/>Time Format

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">hhmmss</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>utcoffset<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>UTC Offset</B><br/>UTC Offset

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">0</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getDateformat [<a href="#FUNCTION_getDateformat">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">org_scn_community_shared_Enumfield</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getDateformatAsString [<a href="#FUNCTION_getDateformatAsString">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getInterval [<a href="#FUNCTION_getInterval">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getLocale [<a href="#FUNCTION_getLocale">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">org_scn_community_shared_Enumfield</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getLocaleAsString [<a href="#FUNCTION_getLocaleAsString">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getTimeformat [<a href="#FUNCTION_getTimeformat">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">org_scn_community_shared_Enumfield</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getTimeformatAsString [<a href="#FUNCTION_getTimeformatAsString">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getUtcoffset [<a href="#FUNCTION_getUtcoffset">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">isDaylightsaving [<a href="#FUNCTION_isDaylightsaving">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">boolean</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">isShowtimezonename [<a href="#FUNCTION_isShowtimezonename">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">boolean</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setDateformat [<a href="#FUNCTION_setDateformat">details</a>]</td>
<td valign="top" width="*" class="function-short-name">dateformat</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setDateformatByString [<a href="#FUNCTION_setDateformatByString">details</a>]</td>
<td valign="top" width="*" class="function-short-name">dateformat</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setDaylightsaving [<a href="#FUNCTION_setDaylightsaving">details</a>]</td>
<td valign="top" width="*" class="function-short-name">daylightsaving</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setInterval [<a href="#FUNCTION_setInterval">details</a>]</td>
<td valign="top" width="*" class="function-short-name">interval</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setLocale [<a href="#FUNCTION_setLocale">details</a>]</td>
<td valign="top" width="*" class="function-short-name">locale</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setLocaleByString [<a href="#FUNCTION_setLocaleByString">details</a>]</td>
<td valign="top" width="*" class="function-short-name">locale</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setShowtimezonename [<a href="#FUNCTION_setShowtimezonename">details</a>]</td>
<td valign="top" width="*" class="function-short-name">showtimezonename</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setTimeformat [<a href="#FUNCTION_setTimeformat">details</a>]</td>
<td valign="top" width="*" class="function-short-name">timeformat</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setTimeformatByString [<a href="#FUNCTION_setTimeformatByString">details</a>]</td>
<td valign="top" width="*" class="function-short-name">timeformat</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setUtcoffset [<a href="#FUNCTION_setUtcoffset">details</a>]</td>
<td valign="top" width="*" class="function-short-name">utcoffset</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getDateformat">org_scn_community_shared_Enumfield<br/>getDateformat</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Date&nbsp;Format&nbsp;Property&nbsp;as&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.dateformat;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getDateformatAsString">String<br/>getDateformatAsString</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Date&nbsp;Format&nbsp;Property&nbsp;as&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.dateformat;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getInterval">int<br/>getInterval</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Update&nbsp;Interval&nbsp;(in&nbsp;Ms)&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.interval;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getLocale">org_scn_community_shared_Enumfield<br/>getLocale</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Locale&nbsp;Property&nbsp;as&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.locale;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getLocaleAsString">String<br/>getLocaleAsString</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Locale&nbsp;Property&nbsp;as&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.locale;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getTimeformat">org_scn_community_shared_Enumfield<br/>getTimeformat</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Time&nbsp;Format&nbsp;Property&nbsp;as&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.timeformat;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getTimeformatAsString">String<br/>getTimeformatAsString</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Time&nbsp;Format&nbsp;Property&nbsp;as&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.timeformat;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getUtcoffset">String<br/>getUtcoffset</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;UTC&nbsp;Offset&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.utcoffset;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_isDaylightsaving">boolean<br/>isDaylightsaving</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Consider&nbsp;Daylight&nbsp;Saving&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.daylightsaving;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_isShowtimezonename">boolean<br/>isShowtimezonename</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Show&nbsp;Timezone&nbsp;Name&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.showtimezonename;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setDateformat">void<br/>setDateformat</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Date&nbsp;Format&nbsp;Property&nbsp;by&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>dateformat</B></td>
<td width="120px" class="parameter-type"><B>org_scn_community_shared_Enumfield</B></td>
<td width="*" class="parameter-help">Date Format</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.dateformat&nbsp;=&nbsp;dateformat;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setDateformatByString">void<br/>setDateformatByString</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Date&nbsp;Format&nbsp;Property&nbsp;by&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>dateformat</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Date Format</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.dateformat&nbsp;=&nbsp;dateformat;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setDaylightsaving">void<br/>setDaylightsaving</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Consider&nbsp;Daylight&nbsp;Saving&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>daylightsaving</B></td>
<td width="120px" class="parameter-type"><B>boolean</B></td>
<td width="*" class="parameter-help">Consider Daylight Saving</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.daylightsaving&nbsp;=&nbsp;daylightsaving;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setInterval">void<br/>setInterval</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Update&nbsp;Interval&nbsp;(in&nbsp;Ms)&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>interval</B></td>
<td width="120px" class="parameter-type"><B>int</B></td>
<td width="*" class="parameter-help">Update Interval (in Ms)</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.interval&nbsp;=&nbsp;interval;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setLocale">void<br/>setLocale</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Locale&nbsp;Property&nbsp;by&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>locale</B></td>
<td width="120px" class="parameter-type"><B>org_scn_community_shared_Enumfield</B></td>
<td width="*" class="parameter-help">Locale</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.locale&nbsp;=&nbsp;locale;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setLocaleByString">void<br/>setLocaleByString</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Locale&nbsp;Property&nbsp;by&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>locale</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Locale</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.locale&nbsp;=&nbsp;locale;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setShowtimezonename">void<br/>setShowtimezonename</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Show&nbsp;Timezone&nbsp;Name&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>showtimezonename</B></td>
<td width="120px" class="parameter-type"><B>boolean</B></td>
<td width="*" class="parameter-help">Show Timezone Name</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.showtimezonename&nbsp;=&nbsp;showtimezonename;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setTimeformat">void<br/>setTimeformat</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Time&nbsp;Format&nbsp;Property&nbsp;by&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>timeformat</B></td>
<td width="120px" class="parameter-type"><B>org_scn_community_shared_Enumfield</B></td>
<td width="*" class="parameter-help">Time Format</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.timeformat&nbsp;=&nbsp;timeformat;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setTimeformatByString">void<br/>setTimeformatByString</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Time&nbsp;Format&nbsp;Property&nbsp;by&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>timeformat</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Time Format</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.timeformat&nbsp;=&nbsp;timeformat;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setUtcoffset">void<br/>setUtcoffset</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;UTC&nbsp;Offset&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>utcoffset</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">UTC Offset</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.utcoffset&nbsp;=&nbsp;utcoffset;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>
	<div style="height:20px!important"> THE END </div>
	</div>
	
	<div style="height:60px!important"></div>
	
</div>
</body>
</html>