<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<script id="sap-ui-bootstrap" type="text/javascript" 
      /*src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"*/
      src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>

<script type="text/javascript" src="../js/ComponentMain.js"></script>
<script type="text/javascript" src="../js/PostResponseParser/PostResponseParser.js"></script>
<script type="text/javascript" src="../js/TimeLine.js"></script>
<script type="text/javascript" src="../js/ga.js"></script>

<script> 
	requestChangeLog("../../../../sdkhelp/web/components/basics/arrowedline/changes/changelog.json");
	requestContent("Blog", "../../../../sdkhelp/web/components/basics/arrowedline/blogs.json");
	requestContent("Example", "../../../../sdkhelp/web/components/basics/arrowedline/examples.json");
</script>

<title>Arrowed Line 2.0 - SCN Design Studio Community</title>
</head>
<body class="comp-body" style="height:100%">
<div class="comp-main" style="height:100%">

 	<div class="component-name">
	ArrowedLine [ScnCommunityBasics]
	</div>
	<div class="component-title">
	Arrowed Line 2.0
	</div>

<div id="componentnav"></div>
	<div id="intro">This page is giving short introduction to the component with summary of the change status (green/yellow/red)<div id="introStatus" height="120px"></div><br><p>
Basic Arrowed Line
</p>
<p>
Link to blog: <a target="_blank" href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/06/16/design-studio-sdk--line-with-arrow">Design Studio SDK - Line with Arrow</a>
</p></div>
	<div id="blogs" hidden="true" height="100%">This page is listing community blogs on this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="BlogsList" height="100%"></div></div>
	<div id="changelog" hidden="true" height="100%">This page is listing all changes which have been done on this component with corresponding test status (green: ok, red: not ok, yellow: untested), follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/07/introducing-change-log-for-community-components" target="_blank">this link</a> to learn more.<div id="changelogList" height="100%"></div></div>
	<div id="examples" hidden="true" height="100%">This page is listing all example applications with this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="ExamplesList" height="100%"></div></div>
	<div id="about" hidden="true">This page will bring more "about" details (generated)</div>
	<div id="technical" hidden="true">
	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>arrowPos<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Arrow Position</B><br/>Arrow Position
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">None</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">Start</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">End</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">Both</td>
<td class="value-td">&nbsp;</td>
</tr>

</table>
</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">None</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>lineColor<br/>[Color]</B></td>
<td width="*" class="property-title-tooltip"><B>Line Color</B><br/>Line Color

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">Black</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>lineSize<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Size</B><br/>Size

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">5</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>lineType<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Line Type</B><br/>Line Type
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">1</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">2</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">3</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">4</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">5</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">6</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">7</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">8</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">9</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">10</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">11</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">12</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">13</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">14</td>
<td class="value-td">&nbsp;</td>
</tr>

</table>
</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">1</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>visible<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Visibility</B><br/>Visibility

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getArrowPos [<a href="#FUNCTION_getArrowPos">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getLineColor [<a href="#FUNCTION_getLineColor">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getLineSize [<a href="#FUNCTION_getLineSize">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getLineType [<a href="#FUNCTION_getLineType">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setArrowPos [<a href="#FUNCTION_setArrowPos">details</a>]</td>
<td valign="top" width="*" class="function-short-name">newArrowPos</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setLineColor [<a href="#FUNCTION_setLineColor">details</a>]</td>
<td valign="top" width="*" class="function-short-name">newLineColor</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setLineSize [<a href="#FUNCTION_setLineSize">details</a>]</td>
<td valign="top" width="*" class="function-short-name">newLineSize</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setLineType [<a href="#FUNCTION_setLineType">details</a>]</td>
<td valign="top" width="*" class="function-short-name">newLineType</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getArrowPos">String<br/>getArrowPos</td>
<td valign="top" width="*" class="function-help">/Returns&nbsp;the&nbsp;current&nbsp;arrow&nbsp;position&nbsp;of&nbsp;the&nbsp;line.<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.arrowPos;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getLineColor">String<br/>getLineColor</td>
<td valign="top" width="*" class="function-help">/Returns&nbsp;the&nbsp;current&nbsp;color&nbsp;of&nbsp;the&nbsp;line.<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.lineColor;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getLineSize">String<br/>getLineSize</td>
<td valign="top" width="*" class="function-help">/Returns&nbsp;the&nbsp;current&nbsp;size&nbsp;of&nbsp;the&nbsp;line.<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.lineSize;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getLineType">String<br/>getLineType</td>
<td valign="top" width="*" class="function-help">/Returns&nbsp;the&nbsp;current&nbsp;type&nbsp;of&nbsp;the&nbsp;line.<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.lineType;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setArrowPos">void<br/>setArrowPos</td>
<td valign="top" width="*" class="function-help">/Sets&nbsp;the&nbsp;current&nbsp;arrow&nbsp;position&nbsp;of&nbsp;the&nbsp;line.<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>newArrowPos</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"> New Arrow Position </td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.arrowPos&nbsp;=&nbsp;newArrowPos;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setLineColor">void<br/>setLineColor</td>
<td valign="top" width="*" class="function-help">/Sets&nbsp;the&nbsp;current&nbsp;color&nbsp;of&nbsp;the&nbsp;line.<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>newLineColor</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"> New Line Color </td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.lineColor&nbsp;=&nbsp;newLineColor;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setLineSize">void<br/>setLineSize</td>
<td valign="top" width="*" class="function-help">/Sets&nbsp;the&nbsp;current&nbsp;size&nbsp;of&nbsp;the&nbsp;line.<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>newLineSize</B></td>
<td width="120px" class="parameter-type"><B>int</B></td>
<td width="*" class="parameter-help"> New Line Size </td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.lineSize&nbsp;=&nbsp;newLineSize;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setLineType">void<br/>setLineType</td>
<td valign="top" width="*" class="function-help">/Sets&nbsp;the&nbsp;current&nbsp;type&nbsp;of&nbsp;the&nbsp;line.<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>newLineType</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"> New Line Type </td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.lineType&nbsp;=&nbsp;newLineType;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>
	<div style="height:20px!important"> THE END </div>
	</div>
	
	<div style="height:60px!important"></div>
	
</div>
</body>
</html>