<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<script id="sap-ui-bootstrap" type="text/javascript" 
      /*src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"*/
      src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>

<script type="text/javascript" src="../js/ComponentMain.js"></script>
<script type="text/javascript" src="../js/PostResponseParser/PostResponseParser.js"></script>
<script type="text/javascript" src="../js/TimeLine.js"></script>
<script type="text/javascript" src="../js/ga.js"></script>

<script> 
	requestChangeLog("../../../../sdkhelp/web/components/basics/valiinput/changes/changelog.json");
	requestContent("Blog", "../../../../sdkhelp/web/components/basics/valiinput/blogs.json");
	requestContent("Example", "../../../../sdkhelp/web/components/basics/valiinput/examples.json");
</script>

<title>Validated Input Field 2.0 - SCN Design Studio Community</title>
</head>
<body class="comp-body" style="height:100%">
<div class="comp-main" style="height:100%">

 	<div class="component-name">
	ValiInput [ScnCommunityBasics]
	</div>
	<div class="component-title">
	Validated Input Field 2.0
	</div>

<div id="componentnav"></div>
	<div id="intro">This page is giving short introduction to the component with summary of the change status (green/yellow/red)<div id="introStatus" height="120px"></div><br><p>
This is a shrt response to the idea Input Field should allow more types (number, range, etc...) : View Idea. In the beginning not all verisfications are available, but many validations.
</p>
<p>
Link to blog: <a target="_blank" href="http://scn.sap.com/docs/DOC-59567">Design Studio SDK: Verification Input Field</a>
</p>
</div>
	<div id="blogs" hidden="true" height="100%">This page is listing community blogs on this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="BlogsList" height="100%"></div></div>
	<div id="changelog" hidden="true" height="100%">This page is listing all changes which have been done on this component with corresponding test status (green: ok, red: not ok, yellow: untested), follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/07/introducing-change-log-for-community-components" target="_blank">this link</a> to learn more.<div id="changelogList" height="100%"></div></div>
	<div id="examples" hidden="true" height="100%">This page is listing all example applications with this component, follow <a href="http://scn.sap.com/community/businessobjects-design-studio/blog/2015/04/08/introducing-blog-list-for-community-components" target="_blank">this link</a> to learn more.<div id="ExamplesList" height="100%"></div></div>
	<div id="about" hidden="true">This page will bring more "about" details (generated)</div>
	<div id="technical" hidden="true">
	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>DDefault<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Default Value</B><br/>Default Value

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DLength<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Length</B><br/>Length

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">10</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DNumber<br/>[float]</B></td>
<td width="*" class="property-title-tooltip"><B>Number</B><br/>Number

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">10</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DTooltip<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Tooltip</B><br/>Tooltip

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DValidState<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Valid State (for Custom)</B><br/>Valid State (for Custom)

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">None</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DValidation<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Validation Type</B><br/>Validation Type

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">none</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>DValue<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Value</B><br/>Value

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>onChanged<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>Event For On Changed</B><br/>Event For On Changed

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getDefault [<a href="#FUNCTION_getDefault">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getLength [<a href="#FUNCTION_getLength">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getNumber [<a href="#FUNCTION_getNumber">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">float</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getTooltip [<a href="#FUNCTION_getTooltip">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getValidState [<a href="#FUNCTION_getValidState">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">org_scn_community_shared_ValidationStateEnumfield</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getValidStateAsString [<a href="#FUNCTION_getValidStateAsString">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getValidation [<a href="#FUNCTION_getValidation">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">org_scn_community_shared_Enumfield</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getValidationAsString [<a href="#FUNCTION_getValidationAsString">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getValue [<a href="#FUNCTION_getValue">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setDefault [<a href="#FUNCTION_setDefault">details</a>]</td>
<td valign="top" width="*" class="function-short-name">default</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setLength [<a href="#FUNCTION_setLength">details</a>]</td>
<td valign="top" width="*" class="function-short-name">length</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setNumber [<a href="#FUNCTION_setNumber">details</a>]</td>
<td valign="top" width="*" class="function-short-name">number</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setTooltip [<a href="#FUNCTION_setTooltip">details</a>]</td>
<td valign="top" width="*" class="function-short-name">tooltip</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setValidState [<a href="#FUNCTION_setValidState">details</a>]</td>
<td valign="top" width="*" class="function-short-name">validState</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setValidStateByString [<a href="#FUNCTION_setValidStateByString">details</a>]</td>
<td valign="top" width="*" class="function-short-name">validState</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setValidation [<a href="#FUNCTION_setValidation">details</a>]</td>
<td valign="top" width="*" class="function-short-name">validation</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setValidationByString [<a href="#FUNCTION_setValidationByString">details</a>]</td>
<td valign="top" width="*" class="function-short-name">validation</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setValue [<a href="#FUNCTION_setValue">details</a>]</td>
<td valign="top" width="*" class="function-short-name">value</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getDefault">String<br/>getDefault</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Default&nbsp;Value&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DDefault;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getLength">int<br/>getLength</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Length&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DLength;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getNumber">float<br/>getNumber</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Number&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DNumber;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getTooltip">String<br/>getTooltip</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Tooltip&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DTooltip;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getValidState">org_scn_community_shared_ValidationStateEnumfield<br/>getValidState</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Valid&nbsp;State&nbsp;(for&nbsp;Custom)&nbsp;Property&nbsp;as&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DValidState;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getValidStateAsString">String<br/>getValidStateAsString</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Valid&nbsp;State&nbsp;(for&nbsp;Custom)&nbsp;Property&nbsp;as&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DValidState;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getValidation">org_scn_community_shared_Enumfield<br/>getValidation</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Validation&nbsp;Type&nbsp;Property&nbsp;as&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DValidation;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getValidationAsString">String<br/>getValidationAsString</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Validation&nbsp;Type&nbsp;Property&nbsp;as&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DValidation;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_getValue">String<br/>getValue</td>
<td valign="top" width="*" class="function-help">Gets&nbsp;Value&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.DValue;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setDefault">void<br/>setDefault</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Default&nbsp;Value&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>default</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Default Value</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DDefault&nbsp;=&nbsp;default;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setLength">void<br/>setLength</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Length&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>length</B></td>
<td width="120px" class="parameter-type"><B>int</B></td>
<td width="*" class="parameter-help">Length</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DLength&nbsp;=&nbsp;length;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setNumber">void<br/>setNumber</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Number&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>number</B></td>
<td width="120px" class="parameter-type"><B>float</B></td>
<td width="*" class="parameter-help">Number</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DNumber&nbsp;=&nbsp;number;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setTooltip">void<br/>setTooltip</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Tooltip&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>tooltip</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Tooltip</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DTooltip&nbsp;=&nbsp;tooltip;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setValidState">void<br/>setValidState</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Valid&nbsp;State&nbsp;(for&nbsp;Custom)&nbsp;Property&nbsp;by&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>validState</B></td>
<td width="120px" class="parameter-type"><B>org_scn_community_shared_ValidationStateEnumfield</B></td>
<td width="*" class="parameter-help">Valid State (for Custom)</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DValidState&nbsp;=&nbsp;validState;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setValidStateByString">void<br/>setValidStateByString</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Valid&nbsp;State&nbsp;(for&nbsp;Custom)&nbsp;Property&nbsp;by&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>validState</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Valid State (for Custom)</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DValidState&nbsp;=&nbsp;validState;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setValidation">void<br/>setValidation</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Validation&nbsp;Type&nbsp;Property&nbsp;by&nbsp;Choice&nbsp;Option<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>validation</B></td>
<td width="120px" class="parameter-type"><B>org_scn_community_shared_Enumfield</B></td>
<td width="*" class="parameter-help">Validation Type</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DValidation&nbsp;=&nbsp;validation;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setValidationByString">void<br/>setValidationByString</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Validation&nbsp;Type&nbsp;Property&nbsp;by&nbsp;String<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>validation</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Validation Type</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DValidation&nbsp;=&nbsp;validation;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<td valign="top" width="220px" class="function-return-name"><a name="FUNCTION_setValue">void<br/>setValue</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;Value&nbsp;Property<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>value</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help">Value</td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.DValue&nbsp;=&nbsp;value;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>
	<div style="height:20px!important"> THE END </div>
	</div>
	
	<div style="height:60px!important"></div>
	
</div>
</body>
</html>