<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" type="text/css" href="../doc.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <title>
        SCN Community Component List 2.0
    </title>
    <script id="sap-ui-bootstrap" type="text/javascript" 
    src="https://sapui5.hana.ondemand.com/sdk/resources/sap-ui-core.js"
    data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m,sap.ui.commons,sap.suite.ui.commons,sap.ui.ux3"></script>
    <script type="text/javascript" src="model/components.js"></script>
    <script type="text/javascript" src="js/PostResponseParser/PostResponseParser.js"></script>
    <script type="text/javascript" src="js/TimeLine.js"></script>
    <script type="text/javascript" src="js/ListMain.js"></script>

    <style>
        .org-scn-CompListBody {
            valign: top;
            height: 100%;
        }
        
        .org-scn-CompListTile {
            valign: top;
        }
    </style>

</head>

<body class="sapUiBody" style="height:100%" role="application">
    <div id="content" style="height:100%"></div>
</body>

</html>